<!DOCTYPE HTML>
<html layout:decorate="~{base_layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<title>学校信息列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" th:src="@{/js/custom/school-func.js}"></script>
<script type="text/javascript" th:inline="javascript">
	$(function(){
		$("#add_butn").click(function(){
			var page_current_page = [[${page.pageNo}]];
			if(page_current_page == 0){
				window.location.href = "/schoolmanager/school_add?page_current_page="+1;
			}else{
				window.location.href = "/schoolmanager/school_add?page_current_page="+page_current_page;
			}
		});
	});
</script>
</head>
<body>
<!--/* 申明模板填充  */-->
<div layout:fragment="content">
	<!--/* 页面部分一 （可以省略）           topbar 固定条  */-->
	<div class="page_content_bar">
		<!--/* 面包屑  */-->
		<ol class="breadcrumb clearfix">
		  <li class="active">学校信息管理</li>
		  <li class="libtn">
		  	<button sec:authorize="hasRole('ROLE_SCHOOL_EDIT')" id="add_butn" class="btn btn-primary pull-right">
		  		<i class="fas fa-plus"></i>&nbsp;添加
		  	</button>
		  </li>
		</ol>
	</div>
	<!--/* 页面部分二              页面主内容  */-->
	<div class="page_content_main" data-sidea="side_1">
		<!--/* 以下为自定义代码块  */-->
		<div class="table-responsive">
		<!--/* 动态  */-->
		<table id="table-cont" class="table table-striped table-hover">
			<thead>
				<tr>
					<th width="150px">学校名称</th>
					<th width="200px">学校地点</th>
					<!-- <th>合作起止时间</th> -->
					<th>创建时间</th>
					<th>联系人</th>
					<th>联系电话</th>
					<th  sec:authorize="hasAnyRole('ROLE_SCHOOL_EDIT,ROLE_SCHOOL_DEL')">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="school:${school_list}">
					<td style="vertical-align: middle"><a th:text="${school.name}" sec:authorize="hasRole('ROLE_SCHOOL_BROWSE')"
						th:href="@{'/schoolmanager/school_detail?school_id='+${school.school_id}+'&page_current_page='+${page.pageNo}}">xx</a></td>
					<td style="vertical-align: middle" th:text="${school.address}">xx</td>
					<!-- <td><span th:text="${#dates.format(school.cooperation_start,'yyyy-MM-dd')}"></span> 至 <span th:text="${#dates.format(school.cooperation_end,'yyyy-MM-dd')}"></span></td> -->
					<td style="vertical-align: middle" th:text="${#dates.format(school.create_time,'yyyy-MM-dd HH:mm:ss')}">2017-12-07 10:12:28</td>
					<td style="vertical-align: middle" th:text="${school.linkman}">李老师</td>
					<td style="vertical-align: middle" th:text="${school.contact_number}">010-88888888</td>
					<td style="vertical-align: middle"  sec:authorize="hasAnyRole('ROLE_SCHOOL_EDIT,ROLE_SCHOOL_DEL')">
						<a sec:authorize="hasRole('ROLE_SCHOOL_EDIT')" class="btn btn-link btn-xs" href="javascript:;" style="outline:none" th:onclick="|school_edit('${school.school_id}','${page.pageNo}');|"><i class="fas fa-edit"></i>编辑</a>
						<a sec:authorize="hasRole('ROLE_SCHOOL_DEL')" class="btn btn-link btn-xs" href="javascript:;" style="outline:none" th:onclick="|school_del('${school.school_id}','${page.pageNo}');|"><i class="far fa-trash-alt"></i>删除</a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div th:include="~{tags/pagination::p1(@{/schoolmanager/goto_school_list},${page.total},${page.pageSize},${page.pageNo},${page.totalPage},right,p)}"></div>
	</div>
</div>
</body>
</html>