<!DOCTYPE HTML>
<!--/* 引入模板页面  */-->
<html layout:decorate="~{base_layout}">
<head>
<title>培训视屏信息添加</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrapValidator.min.css}" rel="stylesheet" />
<link th:href="@{/css/fileinput.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrapValidator.min.js}"></script>
<script TYPE="text/javascript" th:src="@{/js/jquery.form.min.js}"></script>
<script TYPE="text/javascript" th:src="@{/js/fileinput.min.js}"></script>
<script TYPE="text/javascript" th:src="@{/js/zh.js}"></script>
<script type="text/javascript" th:inline="javascript">
	$(function(){
		$("#back_butn").click(function(){
	    	var page_current_page = [[${page_current_page}]];
			window.location.href = "/videomanager/goto_video_list?p="+page_current_page;
		});
		
		$("#train_video").fileinput({
            language: 'zh', //设置语言
            //uploadUrl:"http://127.0.0.1/testDemo/fileupload/upload.do", //上传的地址
            allowedFileExtensions: ['3gp', 'avi', 'mp4','rmvb'],//接收的文件后缀
            //uploadExtraData:{"id": 1, "fileName":'123.mp3'},
            //uploadAsync: true, //默认异步上传
            showUpload:false, //是否显示上传按钮
            showRemove :true, //显示移除按钮
            showPreview :true, //是否显示预览
            showCaption:false,//是否显示标题
            //browseClass:"btn btn-primary", //按钮样式    
            dropZoneEnabled: false,//是否显示拖拽区域
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            maxFileSize:1024*500,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            //maxFileCount:10, //表示允许同时上传的最大文件个数
            enctype:'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<iclass='glyphicon glyphicon-king'></i>",
            //msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
        })
        
        $("#cover_img").fileinput({
            language: 'zh', //设置语言
            //uploadUrl:"http://127.0.0.1/testDemo/fileupload/upload.do", //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            //uploadExtraData:{"id": 1, "fileName":'123.mp3'},
            //uploadAsync: true, //默认异步上传
            showUpload:false, //是否显示上传按钮
            showRemove :true, //显示移除按钮
            showPreview :true, //是否显示预览
            showCaption:false,//是否显示标题
            //browseClass:"btn btn-primary", //按钮样式    
            dropZoneEnabled: false,//是否显示拖拽区域
            minImageWidth: 50, //图片的最小宽度
            minImageHeight: 50,//图片的最小高度
            maxImageWidth: 1000,//图片的最大宽度
            maxImageHeight: 1000,//图片的最大高度
            maxFileSize:1000,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            //maxFileCount:10, //表示允许同时上传的最大文件个数
            enctype:'multipart/form-data',
            validateInitialCount:true,
            //previewFileIcon: "<iclass='glyphicon glyphicon-king'></i>",
            //msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
        })
        
        $("#save_btn").click(function(){
        	var formData = new FormData($("#form1"));
	    	//序列化获得表单数据，结果为：user_id=12&user_name=John&user_age=20
	    	//var data=$("#form1").serialize();
	    	//submitData是解码后的表单数据，结果同上
	    	//var submitData=decodeURIComponent(data,true);
	    	$.ajax({
	    		type : 'post',
	    	    url:'/save_train_video',
	    	    data:formData,
	    	    cache:false,//false是不缓存，true为缓存
	    	    async:true,//true为异步，false为同步
	    	    dataType:'json',
	    	    success:function(data){
	    	        //请求成功时
	    	    	alert(data.msg);
					window.location.href = "/goto_video_list";
	    	    }
	    	});
	    	return false;
		});
	});
	
	function select_courseteam(team_id){
		$("#headline").val('');
		var param = {'team_id':team_id};
		$.post({
			type : 'post',
			data : param,
			url  : '/get_section_by_team_id',
			dataType:'json',
			success : function(result){
				var html = [];
				html.push("<option value=''>请选择课程章节</option>");
				$.each(result,function(i,ele){
					html.push("<option value="+ele.section_name+">第"+ele.section_name+"节</option>");
				})
				$("#section_select").html(html.join(''));
			}
		});
	}
	
	function select_section(section_name){
		var team_id = $("#select_course").val();
		var param = {'team_id':team_id};
		$.post({
			type : 'post',
			data : param,
			url  : '/get_section_by_team_id',
			dataType:'json',
			success : function(result){
				$.each(result,function(i,ele){
					if(ele.section_name == section_name){
						$("#headline").val(ele.headline);
					}
				})
			}
		});
	}
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="ab_bg_white ab_Title">
	          <h3 style=" padding-bottom:6px; margin-top:25px; font-weight: normal;">培训视屏信息添加</h3>
	    </div>
		<div class="container-fluid ab_style ab_mt20" id="table-cont">
	   		<!-- 动态 --> 
			<form id="form1" class="form-horizontal" enctype="multipart/form-data"
				action="#" th:action="@{/save_train_video}"  method="post" >
				<div class="form-group">
					<label class="col-sm-4 control-label" for="train_video">视频文件</label>
					<div class="col-sm-5">
						<input type="file" id="train_video" class="form-control"
							name="train_video" placeholder="请选择要上传的视屏文件" required />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="team_id">课程名称</label>
					<div class="col-sm-5">
						<select id="select_course" class="form-control" name="team_id" onchange="select_courseteam(this.value)">
							<option value=''>请选择课程章节</option>
							<option th:each="courseteam:${courseteam_list}" th:value="${courseteam.team_id}" th:text="${courseteam.team_name}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="section_name">章节</label>
					<div class="col-sm-5" id="course">
						<select id="section_select" class="form-control" name="section_name" onchange="select_section(this.value)">
							<!-- 选完课程异步刷新章节内容 -->
							
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="headline">标题</label>
					<div class="col-sm-5">
						<!-- 选完章节自动选中对应的标题 -->
						<input type="text" class="form-control" id="headline"
							name="headline" required readonly="readonly"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="teacher_id">培训老师</label>
					<div class="col-sm-5">
						<select class="form-control" name="teacher_id">
							<option value=''>请选择培训老师</option>
							<option th:each="teacher:${teacherInfo_list}" th:value="${teacher.teacher_id}" th:text="${teacher.teacher_name}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="video_intro">简介</label>
					<div class="col-sm-5">
						<textarea class="form-control" id="video_intro"
							name="video_intro" placeholder="请输入视屏信息简介" required></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="cover_img">封面图片</label>
					<div class="col-sm-5">
						<input type="file" class="form-control" id="cover_img" 
							name="cover_img" placeholder="请选择要上传的封面图片" required /><br/>
						<span>建议图片分辨率为600*450，最大不能超过1M</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9 col-sm-offset-4">
						<button id="save_btn" type="submit" class="btn btn-primary" >确定</button>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input id="back_butn" class="btn btn-primary" type="button" value="取消" />
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>