<!DOCTYPE HTML>
<!--/* 引入模板页面  */-->
<html layout:decorate="~{base_layout}">
<head>
<title>培训计划信息列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/bootstrap-datetimepicker.min.css}"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/moment-with-locales.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/js/custom/plan-func.js}"></script>
<script type="text/javascript" th:inline="javascript">
	$(function(){
		ymd();
		$("#add_butn").click(function(){
			var page_current_page = [[${page.pageNo}]];
			window.location.href = "/planmanager/train_plan_add?page_current_page="+page_current_page;
		});
		
		//用于已选日期的回显
		var begin = [[${begin_date}]];
		var end = [[${end_date}]];
		if(begin != null & end != null){
			bd = FormatDate(new Date(begin));
			ed = FormatDate(new Date(end));
			$("#begin").val(bd);
			$("#end").val(ed);
		}
		
		//用于回显已选的学校信息
		var school_id = $("#data_school_id").val();
		$("select[id='school'] option").each(function(i){
			if(school_id == $(this).val()){
				$(this).prop("selected",true);
			}
		})
		
		//用于回显已选的教师信息
		var teacher_id = [[${teacher_id}]];
		$("select[id='teacher'] option").each(function(i){
			if(teacher_id == $(this).val()){
				$(this).prop("selected",true);
			}
		})
		
		//用于回显已选的合伙人信息
		var partner_id = [[${partner_id}]];
		$("select[id='partner'] option").each(function(i){
			if(partner_id == $(this).val()){
				$(this).prop("selected",true);
			}
		})
		
		//异步获取教室信息，为教室下拉选框添加值
		var param = {'school_id':school_id};
		$.post({
			type : 'post',
			data : param,
			url  : '/planmanager/get_optional_classroom',
			dataType:'json',
			success : function(result){
				var html = [];
				html.push("<option value='0'>教室</option>");
				$.each(result,function(i,ele){
					//用于回显已选的教室信息
					var classroom_id = [[${classroom_id}]];
					if(ele.classroom_id == classroom_id){
						html.push("<option value="+ele.classroom_id+" selected>"+ele.block_number+"</option>");
					}else{
						html.push("<option value="+ele.classroom_id+">"+ele.block_number+"</option>");
					}
				})
				$("#classroom_select").html(html.join(''));
			}
		});
	});
</script>
</head>
<body>
	<!-- <div layout:fragment="content">
		<div class="ab_bg_white ab_Title" data-sidea="side_4">
	          <h3 style=" padding-bottom:6px; margin-top:25px; font-weight: normal;">培训计划管理
	          	<button id="add_butn" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;添加</button>
	          </h3>
	    </div>
	    <div hidden="true">
	    	<input id="data_school_id" th:value="${school_id}"/>
	    </div>
		<div class="container-fluid ab_style ab_mt10" id="table-cont">
			<div style="padding:10px 0; background:#fff" class="screen">
                <div class="ab_screen">
                    <div class="form-inline">
                        <div class="form-group">
                            <label>日期:</label>
                            <input type="date" class="form-control" id="begin" onchange="begin_range()">
                            <label>~</label>
                            <input type="date" class="form-control" id="end" onchange="end_range()">
                            <div class="input-group date datetimepicker1">
								<input id="begin" onchange="begin_range()" class="form-control" type="text" style="width: 130px;"/>  
								<span class="input-group-addon" style="width: 50px; height: 34px;">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
			                </div>
                            <label>~</label>
                            <div class="input-group date datetimepicker1">
								<input id="end" onchange="end_range()" class="form-control" type="text" style="width: 130px;"/>  
								<span class="input-group-addon" style="width: 50px; height: 34px;">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
			                </div>
                        </div>
                        <div class="form-group ab_pl15">
                            <label>学校:</label>
                            <select id="school" class="form-control" onchange="query_by_condition()">
                            	<option value='0'>培训学校</option>
                                <option th:each="school:${school_list}" th:value="${school.school_id}" th:text="${school.name}"></option>
                            </select>
                        </div>
                        <div class="form-group ab_pl15">
                            <label>教室:</label>
                            <select id="classroom_select" class="form-control" onchange="query_by_condition()">
                            	<option value='0'>教室</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="form-inline row">
                        <div class="form-group ab_pl15">
                            <label>合伙人:</label>
                            <select id="partner" class="form-control" onchange="query_by_condition()">
                            	<option value='0'>合伙人</option>
                            	<option th:each="partner:${partner_list}" th:value="${partner.partner_id}" th:text="${partner.name}"></option>
                            </select>
                        </div>
						
                        <div class="form-group ab_pl15">
                            <label>教师:</label>
                            <select id="teacher" class="form-control" onchange="query_by_condition()">
                            	<option value='0'>培训教师</option>
                                <option th:each="teacher:${teacher_list}" th:value="${teacher.teacher_id}" th:text="${teacher.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
	   		动态 
			<table id="table-cont" class="table table-striped table-hover" >
				<thead>
					<tr>
						<th>培训时间</th>
						<th>课程</th>
						<th>学校</th>
						<th>教室</th>
						<th>培训教师</th>
						<th>合伙人</th>
						<th>培训方式</th>
						<th>培训/考核</th>
						<th>培训人数</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="plan:${plan_list}">
						<td style="vertical-align: middle">
							<span th:text="${#dates.format(plan.train_begin,'yyyy-MM-dd')}"></span>
							~ <span th:text="${#dates.format(plan.train_end,'yyyy-MM-dd')}"></span>
						</td>
						<td style="vertical-align: middle">
							<th:block th:each="course:${courses}">
								<p th:if="${course.course_id eq plan.course_id}" th:text="${course.name}"></p>
							</th:block>
						</td>
						<td style="vertical-align: middle">
							<th:block th:each="school:${school_list}">
								<p th:if="${school.school_id eq plan.school_id}" th:text="${school.name}"></p>
							</th:block>
						</td>
						<td style="vertical-align: middle">
							<th:block th:each="classroom:${classroom_list}">
								<p th:if="${classroom.classroom_id eq plan.classroom_id}" th:text="${classroom.block_number}"></p>
							</th:block>
						</td>
						<td style="vertical-align: middle">
							<th:block th:each="teacher:${teacher_list}">
								<p th:if="${teacher.teacher_id eq plan.teacher_id}" th:text="${teacher.name}"></p>
							</th:block>
						</td>
						<td style="vertical-align: middle">
							<th:block th:if="${not #lists.isEmpty(plan.partner_list)}" th:each="partner:${plan.partner_list}">
								<span th:text="${partner.name}"></span></br>
							</th:block> 
							<th:block th:if="${#lists.isEmpty(plan.partner_list)}">
								<span>合伙人已删除</span>
							</th:block>
						</td>
						<td style="vertical-align: middle" th:switch="${plan.train_way}">
							<span th:case="1">在线</span>
							<span th:case="0">面授</span>
						</td>
						<td style="vertical-align: middle" th:text="${plan.training}"></td>
						<td style="vertical-align: middle" th:text="${plan.trainers_number}"></td>
						<td style="vertical-align: middle">
							<a class="btn btn-link btn-xs" href="javascript:;" style="outline:none" th:onclick="|plan_edit('${plan.train_plan_id}','${page.pageNo}');|"><i class="fas fa-edit"></i>编辑</a>
							<a class="btn btn-link btn-xs" href="javascript:;" style="outline:none" th:onclick="|plan_del('${plan.train_plan_id}','${page.pageNo}');|"><i class="far fa-trash-alt"></i>删除</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:include="~{tags/pagination::p1(@{/planmanager/goto_plan_list},${page.total}
						,${page.pageSize},${page.pageNo},${page.totalPage},right,p)}">
			</div>
		</div>
	</div> -->

	<!--/* 申明模板填充  */-->
	<div layout:fragment="content">

		<!--/* 页面部分一 （可以省略）           topbar 固定条  */-->
		<div class="page_content_bar">

			<!--/* 面包屑  */-->
			<ol class="breadcrumb clearfix">
				<li class="active">培训计划管理</li>
				<li class="libtn">
					<button sec:authorize="hasRole('ROLE_PLAN_EDIT')" id="add_butn" class="btn btn-primary pull-right">
						<i class="fas fa-plus"></i>&nbsp;添加
					</button>
				</li>
			</ol>

		</div>
		<div hidden="true">
			<input id="data_school_id" th:value="${school_id}" />
		</div>
		<!--/* 页面部分二              页面主内容  */-->
		<div class="page_content_main" data-sidea="side_4">
			<div style="padding: 10px 10px; background: #fff" class="screen">
				<div class="ab_screen">
					<div class="form-inline">
						<div class="form-group">
							<label>日期:</label>
							<!-- <input type="date" class="form-control" id="begin" onchange="begin_range()">
                        <label>~</label>
                        <input type="date" class="form-control" id="end" onchange="end_range()"> -->
							<div class="input-group date datetimepicker1">
								<input id="begin" onchange="begin_range()"
									class="form-control input-sm" type="text" style="width: 130px;" />
								<span class="input-group-addon"
									style="width: 50px; height: 30px;"> <span
									class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
							<label>~</label>
							<div class="input-group date datetimepicker1">
								<input id="end" onchange="end_range()"
									class="form-control input-sm" type="text" style="width: 130px;" />
								<span class="input-group-addon"
									style="width: 50px; height: 30px;"> <span
									class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
						<div class="form-group ab_pl15">
							<label>学校:</label> <select id="school"
								class="form-control input-sm" onchange="query_by_condition()">
								<option value='0'>培训学校</option>
								<option th:each="school:${school_list}"
									th:value="${school.school_id}" th:text="${school.name}"></option>
							</select>
						</div>
						<div class="form-group ab_pl15">
							<label>教室:</label> <select id="classroom_select"
								class="form-control input-sm" onchange="query_by_condition()">
								<option value='0'>教室</option>
							</select>
						</div>
					</div>
					<br>
					<div class="form-inline row">
						<div class="form-group ab_pl15">
							<label>合伙人:</label> <select id="partner"
								class="form-control input-sm" onchange="query_by_condition()">
								<option value='0'>合伙人</option>
								<option th:each="partner:${partner_list}"
									th:value="${partner.partner_id}" th:text="${partner.name}"></option>
							</select>
						</div>

						<div class="form-group ab_pl15">
							<label>教师:</label> <select id="teacher"
								class="form-control input-sm" onchange="query_by_condition()">
								<option value='0'>培训教师</option>
								<option th:each="teacher:${teacher_list}"
									th:value="${teacher.teacher_id}" th:text="${teacher.name}"></option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<!--/* 以下为自定义代码块  */-->
			<div class="table-responsive">
				<!-- 动态 -->
				<table id="table-cont" class="table table-striped table-hover">
					<thead>
						<tr>
							<th>培训时间</th>
							<th>课程</th>
							<th>学校</th>
							<th>教室</th>
							<th>培训教师</th>
							<th>合伙人</th>
							<th>培训方式</th>
							<th>培训/考核</th>
							<th>培训人数</th>
							<th sec:authorize="hasAnyRole('ROLE_PLAN_EDIT,ROLE_PLAN_DEL')">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="plan:${plan_list}">
							<td style="vertical-align: middle"><span
								th:text="${#dates.format(plan.train_begin,'yyyy-MM-dd')}"></span>
								~ <span th:text="${#dates.format(plan.train_end,'yyyy-MM-dd')}"></span>
							</td>
							<td style="vertical-align: middle"><th:block
									th:each="course:${courses}">
									<p th:if="${course.course_id eq plan.course_id}"
										th:text="${course.name}"></p>
								</th:block></td>
							<td style="vertical-align: middle"><th:block
									th:each="school:${school_list}">
									<p th:if="${school.school_id eq plan.school_id}"
										th:text="${school.name}"></p>
								</th:block></td>
							<td style="vertical-align: middle"><th:block
									th:each="classroom:${classroom_list}">
									<p th:if="${classroom.classroom_id eq plan.classroom_id}"
										th:text="${classroom.block_number}"></p>
								</th:block></td>
							<td style="vertical-align: middle"><th:block
									th:each="teacher:${teacher_list}">
									<p th:if="${teacher.teacher_id eq plan.teacher_id}"
										th:text="${teacher.name}"></p>
								</th:block></td>
							<td style="vertical-align: middle"><th:block
									th:if="${not #lists.isEmpty(plan.partner_list)}"
									th:each="partner:${plan.partner_list}">
									<span th:text="${partner.name}"></span>
									</br>
								</th:block> <th:block th:if="${#lists.isEmpty(plan.partner_list)}">
									<span>合伙人已删除</span>
								</th:block></td>
							<td style="vertical-align: middle" th:switch="${plan.train_way}">
								<span th:case="1">在线</span> <span th:case="0">面授</span>
							</td>
							<td style="vertical-align: middle" th:text="${plan.training}"></td>
							<td style="vertical-align: middle"
								th:text="${plan.trainers_number}"></td>
							<td style="vertical-align: middle" sec:authorize="hasAnyRole('ROLE_PLAN_EDIT,ROLE_PLAN_DEL')"><a
								class="btn btn-link btn-xs" href="javascript:;" sec:authorize="hasRole('ROLE_PLAN_EDIT')"
								style="outline: none"
								th:onclick="|plan_edit('${plan.train_plan_id}','${page.pageNo}');|"><i
									class="fas fa-edit"></i>编辑</a> <a class="btn btn-link btn-xs" sec:authorize="hasRole('ROLE_PLAN_DEL')"
								href="javascript:;" style="outline: none"
								th:onclick="|plan_del('${plan.train_plan_id}','${page.pageNo}');|"><i
									class="far fa-trash-alt"></i>删除</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div
				th:include="~{tags/pagination::p1(@{/planmanager/goto_plan_list},${page.total}
					,${page.pageSize},${page.pageNo},${page.totalPage},right,p)}">
			</div>
		</div>

	</div>
</body>
</html>