<!DOCTYPE HTML>
<html layout:decorate="~{base_layout}">
<head>
<title>结算策略查看页面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/bootstrapValidator.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/bootstrapValidator.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.form.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
//初始化alertify
reset = function () {
	$("toggleCSS").href = "assets/js/lib/alertify/alertify.bootstrap.css";
	alertify.set({
	  labels : {
	    ok   : "确认",
	    cancel : "取消"
	  },
	  delay : 1000,
	  buttonReverse : false,
	  buttonFocus  : "ok"
    });
};

</script>
</head>
<body>

<!--/* 申明模板填充  */-->
	<div layout:fragment="content">

		<!--/* 页面部分一 （可以省略）           topbar 固定条  */-->
		<div class="page_content_bar">
		
			<!--/* 面包屑  */-->
			<ol class="breadcrumb clearfix">
			  <!-- <li><a href="#">一级目录</a></li> -->
				<li><a href="/balance/balance_tactics_list" class="back_butn" style="cursor: pointer;">结算策略</a></li>
			  <li class="active">查看</li>
			</ol>
			
		</div>
		
		<!--/* 页面部分二              页面主内容  */-->
		<div class="page_content_main" data-sidea="side_34">
			<form id="form1" class="form-horizontal" method="post" >
			<div class="form-group">
				<label class="col-sm-4 control-label">结算策略名称:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" th:value="${fallinto.fallinto_name}" disabled="disabled"/>
				</div>
			</div>
			
			 <div class="form-group form-inline">
				<label class="col-sm-4 control-label">结算策略类型:</label>
				<div class="col-sm-5">
					<th:block th:switch="${fallinto.fallinto_type}">
						<input th:case="1" type="text" class="form-control" value="底价" disabled="disabled"/>
						<input th:case="2" type="text" class="form-control" value="分成比例" disabled="disabled"/>
						<input th:case="3" type="text" class="form-control" value="单数阶梯" disabled="disabled"/>
						<input th:case="4" type="text" class="form-control" value="金额阶梯" disabled="disabled"/>
						<input th:case="5" type="text" class="form-control" value="客单价阶梯" disabled="disabled"/>
					</th:block>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">内容:</label>
				</br>
				<div class="col-sm-5 form-group form-inline">
					<th:block th:if="${fallinto.fallinto_type==1}">
						底价：<span  th:text="${#numbers.formatDecimal(fallinto.floor_price*0.01,1,2)}"></span>
					</th:block>
					<th:block th:if="${fallinto.fallinto_type==2}">
						比例：<span  th:text="${fallinto.percent}"></span>%
					</th:block>
					<th:block th:if="${fallinto.fallinto_type>2}">
						<th:block th:each="stepData:${stepDatas}">
							<th:block th:if="${fallinto.step_type==1}">
								<th:block th:if="${fallinto.fallinto_type==3}">
									>=<span  th:text="${stepData.d}"></span>：<span  th:text="${stepData.v}"></span></br>
								</th:block>
								<th:block th:if="${fallinto.fallinto_type==4 || fallinto.fallinto_type==5}">
									>=<span  th:text="${#numbers.formatDecimal(stepData.d*0.01,1,2)}"></span>：<span  th:text="${stepData.v}"></span></br>
								</th:block>
								<!--&gt;=<span  th:text="${stepData.d}"></span>：<span  th:text="${stepData.v}"></span></br>-->
							</th:block>
							<th:block th:if="${fallinto.step_type==2}">
								<th:block th:if="${fallinto.fallinto_type==3}">
									>=<span  th:text="${stepData.d}"></span>：<span  th:text="${stepData.v}"></span>%</br>
								</th:block>
								<th:block th:if="${fallinto.fallinto_type==4 || fallinto.fallinto_type==5}">
									>=<span  th:text="${#numbers.formatDecimal(stepData.d*0.01,1,2)}"></span>：<span  th:text="${stepData.v}"></span>%</br>
								</th:block>

							</th:block>
						</th:block>
					</th:block>

				</div>
			</div>
		</form>
		</div>
	</div>		
</body>
</html>