<!DOCTYPE html>
 <html layout:decorate="~{base_layout}">
<!-- <html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"> -->
<head>
<meta charset="UTF-8"></meta>
<title>结算信息</title>
<link th:href="@{/css/fileinput.min.css}" rel="stylesheet" />
<script TYPE="text/javascript" th:src="@{/js/jquery.form.min.js}"></script>
<script TYPE="text/javascript" th:src="@{/js/fileinput.min.js}"></script>
<script TYPE="text/javascript" th:src="@{/js/zh.js}"></script>
	<style>
		td
		{
			text-align:center;
		}
		th
		{
			text-align:center;
		}
	</style>
<meta name="context-path" th:content="@{/}" />
<script type="text/javascript" th:inline="javascript">
//初始化alertify
reset = function () {
	$("toggleCSS").href = "assets/js/lib/alertify/alertify.bootstrap.css";
	alertify.set({
	  labels : {
	    ok   : "确认",
	    cancel : "取消"
	  },
	  delay : 3000,
	  buttonReverse : false,
	  buttonFocus  : "ok"
    });
};

$(function() {
    $("#excelFile").fileinput({
        language: 'zh', //设置语言
        showPreview: false,
        showUpload: false,
        elErrorContainer: '#kartik-file-errors',
        allowedFileExtensions: ["xlsx", "xls"]
    });


    //搜索功能
    $("#search_btn").click(function () {
		var OrderId=$('#OrderId').val();
        var compensation_id=$('#compensation_id').val();
		//if(OrderId !=null || OrderId !=""){
		window.location.href="/balance/compensation_hangup_list?OrderId="+OrderId+"&compensation_id="+compensation_id;
		/*}else{
            window.location.href="/balance/balance_waiting_list";
		}*/
    });
});

    //导出
    function exportBalance() {
        var mts = [[${application.mts}]];
        reset();
        alertify.confirm("确定要以当前条件导出为excel数据吗？",function (e) {
			if(e){
			    var bal = $("#balanceDate").val();
				var json = {"balance_cycle":bal,"mts":mts};
				var single = {"mts":mts};
				var status=3;
			    $.post('/balance/exportCompensation?status='+status,bal==null?JSON.stringify(single):JSON.stringify(json),function (data) {
                    reset();
                    alertify.success(data.msg);
                })
			}else{
			    reset();
			    alertify.log("以取消操作！");
			}
        })
		//window.location.href="[(@{/balance/exportBalance})]";
	}


function sendCycle(fallinto_compensation_id,balance_cycle,pageNo){
    $("#compensationId").val(fallinto_compensation_id);
    $("#cycle").val(balance_cycle);
    $("#cycleModal").modal('show');
}

function addCycle(pageNo){
    var id=$("#compensationId").val();
    var cycle=$("#cycle").val();
    $.ajax({
        url:'/balance/selectCycleMaxCompensation?cycle='+cycle,//提交的位置
        type:'POST',
        success:function(data){
            if(data==false){
                reset();
				alertify.alert("已经大于最大结算期，请重新输入！")
				return false;
			}
            setTimeout(function (){
                window.location.href="/balance/updCycleCompensation?id="+id+"&cycle="+cycle+"&pageNo="+pageNo;
            }, 1000);
        },
        dataType:'json'
    });
}
</script>
</head>
<body>
<!--/* 申明模板填充  */-->
<div layout:fragment="content">

	<!--/* 页面部分一 （可以省略）           topbar 固定条  */-->
	<div class="page_content_bar form-inline" >
	
		<!--/* 面包屑  */-->
		<ol class="breadcrumb clearfix">
		  <li class="active">挂起待结算</li>
		  <li class="libtn" >
			<button sec:authorize="hasRole('ROLE_BALANCE_COMPENSATIONUP_EDIT')" class="btn btn-primary" th:onclick="|exportBalance()|"><i class="fas fa-sign-out-alt"></i>&nbsp;导出</button>
		  </li>
		<li >
			<input class="form-control" type="text" id="OrderId" name="OrderId" placeholder="请输入订单号" onkeyup="value=value.replace(/[^0-9_]/ig,'')" maxlength="30"/>&nbsp;
		</li>
		  <li >
			<input class="form-control" type="text" id="compensation_id" name="compensation_id" placeholder="请输入赔偿单号" onkeyup="value=value.replace(/[^0-9_]/ig,'')" maxlength="30"/>&nbsp;<button id="search_btn" class="btn btn-primary"><span class="fa fa-search"></span>&nbsp;查询</button>
		  </li>
		</ol>
		
	</div>
	
	<!--/* 页面部分二              页面主内容  */-->
	<div class="page_content_main" data-sidea="side_51">
		<!--/* 以下为自定义代码块  */-->
		<div class="table-responsive" style="overflow:auto;">
			<!-- 动态 -->
			<table id="table-cont" class="table-striped table-hover" style="width:200%">
				<thead>
					<tr bgcolor="#FFFFFF">
						<th width="200px">结算期</th>
						<th width="200px">订单号</th>
						<th width="130px">服务单号</th>
						<th width="200px">赔偿单号</th>
						<th width="130px">类型</th>
						<th width="200px">订单创建时间</th>
						<th width="200px">赔偿发起时间</th>
						<th width="200px">赔偿完成时间</th>
						<th width="150px">订单金额</th>
						<th width="150px">赔偿金额</th>
						<th width="200px">赔偿合伙人承担金额</th>
						<th width="200px">赔偿合伙人承担券额</th>
						<th width="200px">合伙人</th>
						<th width="150px">合伙人ID</th>
						<th width="150px">合伙人级别</th>
						<th width="200px">合作起日期</th>
						<th width="200px">合作止日期</th>
						<th width="150px" sec:authorize="hasRole('ROLE_BALANCE_COMPENSATIONUP_EDIT')">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="fallintoCompensation:${fallintoCompensationList}">
						<td th:text="${fallintoCompensation.balance_cycle}"></td>
						<td th:text="${fallintoCompensation.pay_order_id}"></td>
						<td th:text="${fallintoCompensation.serviceunit_id}"></td>
						<td th:text="${fallintoCompensation.compensation_id}"></td>
						<td>赔偿</td>
						<td th:text="${#dates.format(fallintoCompensation.order_create_datetime,'yyyy-MM-dd')}"></td>
						<td th:text="${#dates.format(fallintoCompensation.compensation_create_datetime,'yyyy-MM-dd')}"></td>
						<td th:text="${#dates.format(fallintoCompensation.compensation_confirm_datetime,'yyyy-MM-dd')}"></td>
						<td th:text="${#numbers.formatDecimal(fallintoCompensation.price_pay*0.01,1,2)}"></td>
						<td th:text="${#numbers.formatDecimal(fallintoCompensation.amount*0.01,1,2)}"></td>
						<td th:text="${#numbers.formatDecimal(fallintoCompensation.partner_bear_amount*0.01,1,2)}"></td>
						<td >
							<span th:if="${fallintoCompensation.partner_bear_coupon_amount!=null}" th:text="${#numbers.formatDecimal(fallintoCompensation.partner_bear_coupon_amount*0.01,1,2)}"></span>
						</td>
						<td th:text="${fallintoCompensation.partner_name}"></td>
						<td th:text="${fallintoCompensation.partner_id}"></td>
						<td th:text="${fallintoCompensation.partner_level}"></td>
						<td th:text="${#dates.format(fallintoCompensation.cooperation_start,'yyyy-MM-dd')}"></td>
						<td th:text="${#dates.format(fallintoCompensation.cooperation_end,'yyyy-MM-dd')}"></td>
						<td>
							<button sec:authorize="hasRole('ROLE_BALANCE_COMPENSATIONUP_EDIT')" class="btn btn-link btn-xs" th:onclick="|sendCycle('${fallintoCompensation.fallinto_compensation_id}','${fallintoCompensation.balance_cycle}','${page.pageNo}')|">
								<span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span> 结算
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div th:include="~{tags/pagination::p1(@{/balance/compensation_hangup_list},${page.total},${page.pageSize},${page.pageNo},${page.totalPage},right,p)}"></div>
		
	</div>

	<div class="modal fade" id="cycleModal" data-keyboard="false" data-backdrop="static" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<form id="form1">
						<label class="col-sm-4 control-label" style="text-align:right;margin-top: 5px;">结算期:</label>
						<div class="col-sm-8 form-inline row">
							<input type="text" name="compensationId" id="compensationId" hidden="hidden">
							<input class="form-control" type="text" name="cycle" id="cycle" placeholder="请输入结算期">
						</div>
					</form>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:closeModel()">关闭</button>
						<button type="button" class="btn btn-primary"  th:onclick="|addCycle('${page.pageNo}')|">确定</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>