<!DOCTYPE html>
<html layout:decorate="~{base_layout}">
<!-- <html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"> -->
<head>
    <meta charset="UTF-8"></meta>
    <title>dashboard概况</title>
    <style type="text/css">
        .main_charts{
            padding: 5px;
        }

        .main_charts .panel{}

        .main_charts .panel .panel-heading i{
            cursor: pointer;
        }

        .module{
            float: left;padding: 5px;
        }

        .main_module{
            overflow: hidden;
        }

        .img{
            padding-top: 80px;
            padding-left: 30px;
        }
    </style>
    <script TYPE="text/javascript" th:src="@{/js/moment-with-locales.js}"></script>
    <script TYPE="text/javascript" th:src="@{/js/echarts.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function(){
            // 初始化页面加载
            (function init(){
                initCharts();
            })();
            var startDate = moment().format('YYYY-01-01');
            var endDate = moment().format('YYYY-12-31');
            var data = {type:3,startDate:startDate,endDate:endDate}
            console.log(data)

            doCharts(data);
        });

        /**
         * 初始化图表
         */
        function initCharts(){
            window.CHARTS  = {
                gmvYearTotalSum : echarts.init(document.getElementById('gmvYearTotalSum')),
                gmvYearChart : echarts.init(document.getElementById('gmvYearSumChart')),
                gmvYearAppSum : echarts.init(document.getElementById('gmvYearAppSum')),
                gmvYearWxmSum : echarts.init(document.getElementById('gmvYearWxmSum')),
                gmvYearH5Sum : echarts.init(document.getElementById('gmvYearH5Sum')),
                gmvYearEbSum : echarts.init(document.getElementById('gmvYearEbSum')),
                partnerYearSum : echarts.init(document.getElementById('partnerYearSum')),
                studentYearSum : echarts.init(document.getElementById('studentYearSum')),
                customerYearSum : echarts.init(document.getElementById('customerYearSum'))
            };
        }

        /**
         * 执行操作
         * @param data
         * type 类型  3 按月
         * startDate 开始日期
         * endDate 结束日期
         */
        function doCharts(data){
            gmvYearTotalSum(data);
            gmvYearSum(data);
            gmvYearAppSum(data);
            gmvYearWxmSum(data);
            gmvYearH5Sum(data);
            gmvYearEbSum(data);
            partnerYearSum(data);
            studentYearSum(data);
            customerYearSum(data);
        }

        /**
         * 总销售额
         */
        function gmvYearTotalSum(requestData) {
            CHARTS.gmvYearTotalSum.showLoading();
            var option = {
                tooltip : {
                    formatter: "{a} <br/>{c} {b}"
                },
                toolbox: {
                    feature: {
                        restore: {},
                        saveAsImage: {}
                    }
                },
                series: [
                    {
                        name: '总销售额累计（分）',
                        type: 'gauge',
                        min:0,
                        max:100,
                        center: ["50%", "60%"], // 仪表位置
                        radius: "100%", //仪表大小
                        startAngle: 200, //开始角度
                        endAngle: -20, //结束角度
                        //detail: {formatter:'{value}'},
                        data: [{value: 250, name: '总销售额'}]
                    }
                ]
            };
            $.getJSON([[@{/data_statistics/dashboard/gmvYearTotalSum}]],requestData, function (data) {
                var gmv = [];
                gmv.push({name:data.dateStr,value:data.num});
                option.series[0].data = gmv;
                CHARTS.gmvYearTotalSum.hideLoading();
                // 使用刚指定的配置项和数据显示图表。
                CHARTS.gmvYearTotalSum.setOption(option);
            });
        }


        /**
         *  月度完成销售情况
         */
        function gmvYearSum(requestData) {
            CHARTS.gmvYearChart.showLoading();
            var option = {
                title: {
                    text: '月度销售情况'
                },
                tooltip: {},
                legend: {
                    data:['销量','计划']
                },
                xAxis: {
                    data: []
                },
                yAxis: {},
                series: [{
                        name: '销量',
                        type: 'bar',
                        data: [],
                        itemStyle: {
                            color: '#58a8fe'
                        }
                    },
                    {
                        name: '计划',
                        type: 'line',
                        data: [],
                        itemStyle: {
                            color: '#a53839'
                        }
                    }]

            };
            $.getJSON([[@{/data_statistics/dashboard/gmvYearSum}]],requestData, function (data) {
                var keys = [];
                var values = [];
                for(var key in data){
                    keys.push(key);
                    values.push(data[key]);
                }
                option.xAxis.data = keys;
                option.series[0].data = values;
                option.series[1].data = values;
                CHARTS.gmvYearChart.hideLoading();
                // 使用刚指定的配置项和数据显示图表。
                CHARTS.gmvYearChart.setOption(option);
            });

        }

        /**
         * APP
         */
        function gmvYearAppSum(requestData) {
            CHARTS.gmvYearAppSum.showLoading();
            var option = {
                tooltip : {
                    formatter: "{a} <br/>{c} {b}"
                },
                toolbox: {
                    feature: {
                        restore: {},
                        saveAsImage: {}
                    }
                },
                series: [
                    {
                        name: 'APP销售额累计（分）',
                        type: 'gauge',
                        min:0,
                        max:100,
                        center: ["50%", "60%"], // 仪表位置
                        radius: "110%", //仪表大小
                        startAngle: 200, //开始角度
                        endAngle: -20, //结束角度
                        detail: {formatter:'{value}'},
                        data: [{value: 50, name: 'APP'}]
                    }
                ]
            };
            $.getJSON([[@{/data_statistics/dashboard/gmvYearAppSum}]],requestData, function (data) {
                var gmv = [];
                gmv.push({name:data.dateStr,value:data.num});
                option.series[0].data = gmv;
                CHARTS.gmvYearAppSum.hideLoading();
                // 使用刚指定的配置项和数据显示图表。
                CHARTS.gmvYearAppSum.setOption(option);
            });
        }

        /**
         * 小程序
         */
        function gmvYearWxmSum(requestData) {
            CHARTS.gmvYearWxmSum.showLoading();
            var option = {
                tooltip : {
                    formatter: "{a} <br/>{c} {b}"
                },
                toolbox: {
                    feature: {
                        restore: {},
                        saveAsImage: {}
                    }
                },
                series: [
                    {
                        name: '小程序销售额累计（分）',
                        type: 'gauge',
                        min:0,
                        max:100,
                        center: ["50%", "60%"], // 仪表位置
                        radius: "110%", //仪表大小
                        startAngle: 200, //开始角度
                        endAngle: -20, //结束角度
                        detail: {formatter:'{value}'},
                        data: [{value: 70, name: '小程序'}]
                    }
                ]
            };
            $.getJSON([[@{/data_statistics/dashboard/gmvYearWxmSum}]],requestData, function (data) {
                var gmv = [];
                gmv.push({name:data.dateStr,value:data.num});
                option.series[0].data = gmv;
                CHARTS.gmvYearWxmSum.hideLoading();
                // 使用刚指定的配置项和数据显示图表。
                CHARTS.gmvYearWxmSum.setOption(option);
            });
        }

        /**
         * H5
         */
        function gmvYearH5Sum(requestData) {
            CHARTS.gmvYearH5Sum.showLoading();
            var option = {
                tooltip : {
                    formatter: "{a} <br/>{c} {b}"
                },
                toolbox: {
                    feature: {
                        restore: {},
                        saveAsImage: {}
                    }
                },
                series: [
                    {
                        name: 'H5销售额累计（分）',
                        type: 'gauge',
                        min:0,
                        max:100,
                        center: ["50%", "60%"], // 仪表位置
                        radius: "110%", //仪表大小
                        startAngle: 200, //开始角度
                        endAngle: -20, //结束角度
                        detail: {formatter:'{value}'},
                        data: [{value: 65, name: 'H5'}]
                    }
                ]
            };
            $.getJSON([[@{/data_statistics/dashboard/gmvYearH5Sum}]],requestData, function (data) {
                var gmv = [];
                gmv.push({name:data.dateStr,value:data.num});
                option.series[0].data = gmv;
                CHARTS.gmvYearH5Sum.hideLoading();
                // 使用刚指定的配置项和数据显示图表。
                CHARTS.gmvYearH5Sum.setOption(option);
            });
        }

        /**
         * 电商
         */
        function gmvYearEbSum(requestData) {
            CHARTS.gmvYearEbSum.showLoading();
            var option = {
                tooltip : {
                    formatter: "{a} <br/>{c} {b}"
                },
                toolbox: {
                    feature: {
                        restore: {},
                        saveAsImage: {}
                    }
                },
                series: [
                    {
                        name: '电商销售额累计（分）',
                        type: 'gauge',
                        min:0,
                        max:100,
                        center: ["50%", "60%"], // 仪表位置
                        radius: "110%", //仪表大小
                        startAngle: 200, //开始角度
                        endAngle: -20, //结束角度
                        detail: {formatter:'{value}'},
                        data: [{value: 65, name: '电商'}]
                    }
                ]
            };
            $.getJSON([[@{/data_statistics/dashboard/gmvYearEbSum}]],requestData, function (data) {
                var gmv = [];
                gmv.push({name:data.dateStr,value:data.num});
                option.series[0].data = gmv;
                CHARTS.gmvYearEbSum.hideLoading();
                // 使用刚指定的配置项和数据显示图表。
                CHARTS.gmvYearEbSum.setOption(option);
            });
        }

        /**
         * 合伙人数量统计
         */
        function partnerYearSum(requestData) {
            CHARTS.partnerYearSum.showLoading();
            var option = {
                title: {
                    text: '合伙人数量'
                },
                tooltip: {},
                legend: {
                    data:['实际','计划']
                },
                xAxis: {
                    data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                },
                yAxis: {},
                series: [{
                        name: '实际',
                        type: 'bar',
                        data: [5, 20, 36, 10, 10, 20],
                        barGap: '-100%', // 让柱状图重叠
                        barWidth: 40,
                        itemStyle: {
                            color: '#efa51c'
                        }
                    },
                    {
                        name: '计划',
                        type: 'bar',
                        data: [3, 15, 30, 16, 20, 45],
                        barWidth: 40,
                        itemStyle: {
                            color: '#e8572b'
                        }
                    }]

            };
            $.getJSON([[@{/data_statistics/partner/loadPartnerRegData}]],requestData, function (data) {
                var xAxis_data = [];
                var series_data = [];
                var total = 0;
                $.each(data, function (i, n) {
                    xAxis_data.push(n.dateStr);
                    series_data.push(n.num);
                    total = total + Number(n.num);
                });
                $("#partnerNum").text(total);
                option.xAxis.data = xAxis_data;
                option.series[0].data = series_data;
                option.series[1].data = series_data;
                CHARTS.partnerYearSum.hideLoading();
                // 使用刚指定的配置项和数据显示图表。
                CHARTS.partnerYearSum.setOption(option);
            });
        }

        /**
         * 学员数量统计
         * @param data
         */
        function studentYearSum(requestData) {
            CHARTS.studentYearSum.showLoading();
            var option = {
                title: {
                    text: '服务人员数量'
                },
                tooltip: {},
                legend: {
                    data:['实际','计划']
                },
                xAxis: {
                    data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                },
                yAxis: {},
                series: [{
                        name: '实际',
                        type: 'bar',
                        data: [5, 20, 36, 10, 10, 20],
                        barGap: '-100%', // 让柱状图重叠
                        barWidth: 40,
                        itemStyle: {
                            color: '#efa51c'
                        }
                    },
                    {
                        name: '计划',
                        type: 'bar',
                        data: [3, 15, 30, 16, 20, 45],
                        barWidth: 40,
                        itemStyle: {
                            color: '#e8572b'
                        }
                    }]

            };
            $.getJSON([[@{/data_statistics/student/loadStudentRegData}]],requestData, function (data) {
                var xAxis_data = [];
                var series_data = [];
                var total = 0;
                $.each(data, function (i, n) {
                    xAxis_data.push(n.dateStr);
                    series_data.push(n.num);
                    total = total + Number(n.num);
                });
                $("#studentNum").text(total);
                option.xAxis.data = xAxis_data;
                option.series[0].data = series_data;
                option.series[1].data = series_data;
                CHARTS.studentYearSum.hideLoading();
                // 使用刚指定的配置项和数据显示图表。
                CHARTS.studentYearSum.setOption(option);
            });
        }


        /**
         * 顾客数量统计
         * @param data
         */
        function customerYearSum(requestData) {
            CHARTS.customerYearSum.showLoading();
            var option = {
                title: {
                    text: '顾客数量'
                },
                tooltip: {},
                legend: {
                    data:['实际','计划']
                },
                xAxis: {
                    data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                },
                yAxis: {},
                series: [{
                        name: '实际',
                        type: 'bar',
                        data: [5, 20, 36, 10, 10, 20],
                        barGap: '-100%', // 让柱状图重叠
                        barWidth: 40,
                        itemStyle: {
                            color: '#efa51c'
                        }
                    },
                    {
                        name: '计划',
                        type: 'bar',
                        data: [3, 15, 30, 16, 20, 45],
                        barWidth: 40,
                        itemStyle: {
                            color: '#e8572b'
                        }
                    }]

            };

            $.getJSON([[@{/data_statistics/custom/loadCustomRegData}]],requestData, function (data) {
                var xAxis_data = [];
                var series_data = [];
                var total = 0;
                $.each(data, function (i, n) {
                    xAxis_data.push(n.dateStr);
                    series_data.push(n.num);
                    total = total + Number(n.num);
                });
                $("#customerNum").text(total);
                option.xAxis.data = xAxis_data;
                option.series[0].data = series_data;
                option.series[1].data = series_data;
                CHARTS.customerYearSum.hideLoading();
                // 使用刚指定的配置项和数据显示图表。
                CHARTS.customerYearSum.setOption(option);
            });
        }
    </script>
</head>
<body>
<!--/* 申明模板填充  */-->
<div layout:fragment="content">

    <!--/* 页面部分一 （可以省略）           topbar 固定条  */-->
    <div class="page_content_bar form-inline">

        <!--/* 面包屑  */-->
        <ol class="breadcrumb clearfix">
            <li class="active">dashboard概况</li>
        </ol>
    </div>

    <!--/* 页面部分二              页面主内容  */-->
    <div class="page_content_main" data-sidea="side_61">


        <!--  图表数据  -->
        <div class="main_charts">
            <!-- 销售任务完成进度 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    销售任务完成进度
                </div>
                <div class="panel-body">
                    <div style="height:300px;" class="main_module">
                        <div class="module" id="gmvYearTotalSum" style="width:267px;height:300px;"></div>
                        <div class="module" id="gmvYearSumChart" style="width:785px;height:300px;"></div>
                    </div>
                </div>
                <div class="panel-body">
                    <div style="height:200px;" class="main_module">
                        <div class="module" id="gmvYearAppSum" style="width:263px;height:200px;"></div>
                        <div class="module" id="gmvYearWxmSum" style="width:263px;height:200px;"></div>
                        <div class="module" id="gmvYearH5Sum" style="width:263px;height:200px;"></div>
                        <div class="module" id="gmvYearEbSum" style="width:263px;height:200px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main_charts">
            <!-- 合伙人数据统计 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    合伙人数据统计
                </div>
                <div class="panel-body">
                    <div style="height:300px;" class="main_module">
                        <div class="module main_module" style="width:267px;height:300px;">
                            <div style="float: left">
                                 <img class="img " th:src="@{/img/dashboard.png}">
                            </div>
                            <div style="float: left;padding-top: 100px;padding-left: 20px">
                                <label>合伙人数量：</label><br/><span style="padding: inherit" id="partnerNum">356</span>
                            </div>
                        </div>
                        <div class="module" id="partnerYearSum" style="width:785px;height:300px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main_charts">
            <!--服务人员数据统计 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    服务人员数据统计
                </div>
                <div class="panel-body">
                    <div style="height:300px;" class="main_module">
                        <div class="module main_module" style="width:267px;height:300px;">
                            <div style="float: left">
                                <img class="img " th:src="@{/img/dashboard.png}">
                            </div>
                            <div style="float: left;padding-top: 100px;padding-left: 20px">
                                <label>服务人员数量：</label><br/><span style="padding: inherit" id="studentNum">356</span>
                            </div>
                        </div>
                        <div class="module" id="studentYearSum" style="width:785px;height:300px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main_charts">
            <!--顾客数据统计 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    顾客数据统计
                </div>
                <div class="panel-body">
                    <div style="height:300px;" class="main_module">
                        <div class="module main_module" style="width:267px;height:300px;">
                            <div style="float: left">
                                <img class="img " th:src="@{/img/dashboard.png}">
                            </div>
                            <div style="float: left;padding-top: 100px;padding-left: 20px">
                                <label>顾客数量：</label><br/><span style="padding: inherit" id="customerNum">356</span>
                            </div>
                        </div>
                        <div class="module" id="customerYearSum" style="width:785px;height:300px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>