<!DOCTYPE HTML>
<!--/* 引入模板页面  */-->
<html layout:decorate="~{base_layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<title>对账缓冲池</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" th:inline="javascript">
        $(function(){

        });
	</script>
</head>
<body>
<!--/* 申明模板填充  */-->
<div layout:fragment="content">
	<!--/* 页面部分一 （可以省略）           topbar 固定条  */-->
	<div class="page_content_bar">
		<!--/* 面包屑  */-->
		<ol class="breadcrumb clearfix">
			<li class="active">对账暂存</li>
		</ol>
	</div>
	<!--/* 页面部分二              页面主内容  */-->
	<div class="page_content_main" data-sidea="side_31">
		<!--/* 以下为自定义代码块  */-->
		<div class="table-responsive" style="overflow:auto;">
			<!--/* 动态  */-->
			<table id="table-cont" class="table table-striped table-hover">
				<thead>
				<tr>
					<th width="130px">序号</th>
					<th width="130px">平台订单号</th>
					<th width="130px">平台订单生成时间</th>
					<th width="130px">平台订单支付时间</th>
					<th width="130px">平台订单金额</th>
					<th width="130px">应付金额</th>
					<th width="130px">用户支付金额</th>
					<th width="130px">平台交易类型</th>
					<th width="130px">平台交易状态</th>
					<th width="130px">平台退款单号</th>
					<th width="130px">平台退款金额</th>
					<th width="130px">平台退款类型</th>
					<th width="130px">平台退款状态</th>
					<th width="130px">支付方式</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="bill,vts:${bills}">
					<td style="vertical-align: middle" th:text="${'00'+(vts.index+1)}"></td>
					<td style="vertical-align: middle" th:text="${bill.pay_order_id}">xx</td>
					<td style="vertical-align: middle">
						<th:block th:if="${bill.order_create_datetime != null}">
							<span th:text="${#dates.format(bill.order_create_datetime,'yyyy-MM-dd HH:mm:ss')}"></span>
						</th:block>
					</td>
					<td style="vertical-align: middle">
						<th:block th:if="${bill.pay_datetime != null}">
							<span th:text="${#dates.format(bill.pay_datetime,'yyyy-MM-dd HH:mm:ss')}"></span>
						</th:block>
					</td>
					<td style="vertical-align: middle">
						<th:block th:if="${bill.price_total != null}">
							<span th:text="${#numbers.formatDecimal(bill.price_total*0.01,1,2)}"></span>
						</th:block>
					</td>
					<td style="vertical-align: middle">
						<th:block th:if="${bill.price_pay != null}">
							<span th:text="${#numbers.formatDecimal(bill.price_pay*0.01,1,2)}"></span>
						</th:block>
					</td>
					<td style="vertical-align: middle">
						<th:block th:if="${bill.user_price_pay != null}">
							<span th:text="${#numbers.formatDecimal(bill.user_price_pay*0.01,1,2)}"></span>
						</th:block>
					</td>
					<td style="vertical-align: middle">
						<th:block th:if="${bill.order_create_datetime != null}">
							<span th:text="支付"></span>
						</th:block>
					</td>
					<td style="vertical-align: middle" th:switch="${bill.pay_status}">
						<span th:case="0">待支付</span>
						<span th:case="1">已支付</span>
					</td>
					<td style="vertical-align: middle">
						<th:block th:if="${bill.refund_id != null}">
							<span th:text="${bill.refund_id}"></span>
						</th:block>
					</td>
					<td style="vertical-align: middle">
						<th:block th:if="${bill.r_fee != null}">
							<span th:text="${#numbers.formatDecimal(bill.r_fee*0.01,1,2)}"></span>
						</th:block>
					</td>
					<td style="vertical-align: middle">
						<th:block th:if="${bill.order_create_datetime == null}">
							<span th:text="退款"></span>
						</th:block>
					</td>
					<td style="vertical-align: middle">
						<th:block th:if="${bill.r_status != null}" th:switch="${bill.r_status}">
							<span th:case="0">待退款</span>
							<span th:case="1">退款中</span>
							<span th:case="2">已退全款</span>
							<span th:case="3">已退部分款</span>
						</th:block>
					</td>
					<td style="vertical-align: middle" th:switch="${bill.pay_type}">
						<span th:case="1">微信</span>
						<span th:case="2">支付宝</span>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div th:include="~{tags/pagination::p1(@{/billmanager/goto_cache_list},${page.total},${page.pageSize},${page.pageNo},${page.totalPage},right,p)}"></div>
	</div>
</div>
</body>
</html>