<!DOCTYPE HTML>
<html layout:decorate="~{base_layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<title>元数据列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" th:inline="javascript">
	$(function(){

	});
</script>
</head>
<body>
<!--/* 申明模板填充  */-->
<div layout:fragment="content">
	<!--/* 页面部分一 （可以省略）           topbar 固定条  */-->
	<div class="page_content_bar">
		<!--/* 面包屑  */-->
		<ol class="breadcrumb clearfix">
		  <li class="active">元数据列表</li>
		</ol>
	</div>
	<!--/* 页面部分二              页面主内容  */-->
	<div class="page_content_main" data-sidea="side_36">
		<!--/* 以下为自定义代码块  */-->
		<dl style="width: 600px" class="dl-horizontal">
			<th:block th:each="meta:${metas}">
				<dt style="width:50%; text-right:right; margin-right:15px; line-height: 30px;" th:text="${meta.descript}"></dt>
				<dd style=" text-right:left; line-height:30px;" th:text="${meta.meta_value}"></dd>
			</th:block>
		</dl>
	</div>
</div>
</body>
</html>