<!DOCTYPE HTML>
<html layout:decorate="~{base_layout}">
<head>
<title>订单详情</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/bootstrapValidator.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/bootstrapValidator.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.form.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function(){
        var mts = [[${application.mts}]];
        var referer = [[${Referer}]];
        if(referer != null){
	        if(referer.indexOf('/ordermanager/goto_order_list') != -1){
				$('#change_sidea').attr("data-sidea","side_13");
			}
			if(referer.indexOf('/ordermanager/goto_order_refunds') != -1){
	            $('#change_sidea').attr("data-sidea","side_22");
			}
			if(referer.indexOf('/ordermanager/compensations') != -1){
	            $('#change_sidea').attr("data-sidea","side_27");
			}
	        if(referer.indexOf('/ordermanager/complete_apply_list') != -1){
	            $('#change_sidea').attr("data-sidea","side_37");
	        }
	        if(referer.indexOf('/ordermanager/deduct_money_list') != -1){
	            $('#change_sidea').attr("data-sidea","side_38");
	        }
	        if(referer.indexOf('/ordermanager/reject_unit_list') != -1){
	            $('#change_sidea').attr("data-sidea","side_42");
	        }
	        if(referer.indexOf('/ordermanager/fine_money_list') != -1){
	            $('#change_sidea').attr("data-sidea","side_43");
	        }
        }else{
            $('#change_sidea').attr("data-sidea","side_13");
		}

		var item =  $('#'+$('div[data-sidea]:eq(0)').data('sidea'));
        item.closest('.ti').find('h5').trigger('click');
        item.addClass('active');

		$('#form1').bootstrapValidator({
	        message: '这个值是无效的！',
	        live: 'enabled',
	        feedbackIcons: {
//		            valid: 'glyphicon glyphicon-ok',
//		            invalid: 'glyphicon glyphicon-remove',
//		            validating: 'glyphicon glyphicon-refresh'
	        },
	        fields: {
	        	fee: {
	                validators: {
	                    notEmpty: {
	                        message: '请填写退款金额！'
	                    },
	                    regexp: {
	                        regexp: /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/,
	                        message: '请输入正确的退款金额信息！'
	                    }
	                }
	            },
	            info: {
	                validators: {
	                	notEmpty: {
	                        message: '请填写退款原因！'
	                    },
	                    stringLength: {
	                        min: 5,
	                        max: 200,
	                        message: '退款原因最短不得低于5个字符，最长不得多于200个字符'
	                    }
	                }
	            }
	        }
	    });

		$(".back_butn").click(function(){
			window.history.go(-1);
// 			var page_current_page = [[${page_current_page}]];
// 			window.location.href = "/ordermanager/goto_order_list?p="+page_current_page;
		});

		$(".cancel_btn").click(function(){
			reset();
			alertify.confirm("确定为客人取消？", function (e) {
			    if (e) {
			    	var su = [[${su_p}]];
 					$.ajax({
						url:"/ordermanager/cancel_order",
						type : 'post',
						data :{
							result:su,
							mts:mts
						},
						success:function(data){
							reset();
							alertify.success(data.msg);
							setTimeout(function (){
								location.reload(true);
// 								window.location.href = "/ordermanager/goto_order_list?p="+page_current_page;
							}, 1500);
						}
					});
			    } else {
			    	reset();
					alertify.log("已取消操作。");
			    }
			});
		});

		$(".refund_btn").click(function(){
			$("#refund").modal('show');
		});

		$("#save_btn").click(function(){
			var price_pay = $("#price_pay").text();
			$("#form1").bootstrapValidator('validate');
			if ($("#form1").data('bootstrapValidator').isValid()) {
				var fee = $("#fee").val();
				var info = $("#info").val();
 				if(Number(fee) > Number(price_pay)){
 					reset();
 					alertify.alert("退款金额不得大于实付金额！");
 					return false;
 				}else{
 					var su = [[${su_p}]];
 					$.ajax({
						url:"/ordermanager/refund_order",
						type : 'post',
						data :{
							result:su,
							fee:fee*100,
							info:info,
							mts:mts
						},
						success:function(data){
							reset();
							alertify.success(data.msg);
							setTimeout(function (){
								location.reload(true);
							}, 1500);
						}
					});
 				}
	 		}
		});

		$(".remark_btn").click(function(){
			var sys_remark = $("#sys_remark").val();
			var pay_order_id = [[${pay_order_id}]];
			if(sys_remark != ''){
			    var remarklength = sys_remark.length;
			    if(remarklength > 150){
                    reset();
                    alertify.error("最多不能输入超过150字！");
				}else{
                    var	param = {'pay_order_id':pay_order_id,'sys_remark':sys_remark,'mts':mts};
                    $.post({
                        type : 'post',
                        data : param,
                        url  : '/ordermanager/update_sys_remark',
                        success : function(result){
                            reset();
                            alertify.success(result.msg);
                            setTimeout(function (){
                                location.reload(true);
                            }, 3000);
                        }
                    });
                }
			}else{
				reset();
				alertify.error("还未输入任何信息！");
			}
		});

		$(".order_change").click(function(){
			var pay_order_id = [[${pay_order_id}]];
			window.location.href="/ordermanager/order_change?pay_order_id="+pay_order_id;
		});

		$(".complete").click(function() {
            $("#complete").modal('show');
        });

        $("#complete_save_btn").click(function(){
            var pay_order_id = [[${pay_order_id}]];
            var complete_info = $("#complete_info").val();
            if(complete_info.length < 5 || complete_info.length > 150){
                reset();
                alertify.error("赔偿原因最少不能低于5个字，最多不能输入超过150字！");
                return false;
			}
			$.ajax({
				url:"/ordermanager/complete_apply",
				type : 'post',
				data :{
                    pay_order_id:pay_order_id,
                    complete_info:complete_info,
					mts:mts
				},
				success:function(data){
				    if(data.error != '' && data.error != null){
                        reset();
                        alertify.error(data.error);
					}else{
                        reset();
                        alertify.success(data.msg);
					}
					setTimeout(function (){
						location.reload(true);
					}, 1500);
				}
			});
        });
    });
</script>
</head>
<body>
<!--/* 申明模板填充  */-->
<div layout:fragment="content">
	<!--/* 页面部分一 （可以省略）           topbar 固定条  */-->
	<div class="page_content_bar">
		<!--/* 面包屑  */-->
		<ol class="breadcrumb clearfix">
			<th:block th:if="${Referer != null}">
				<th:block th:if="${#strings.contains(Referer,'/ordermanager/goto_order_list')}">
					<li><a class="back_butn" style="cursor: pointer;">订单管理</a></li>
				</th:block>
				<th:block th:if="${#strings.contains(Referer,'/ordermanager/goto_order_refunds')}">
					<li><a class="back_butn" style="cursor: pointer;">退款单管理</a></li>
				</th:block>
				<th:block th:if="${#strings.contains(Referer,'/ordermanager/compensations')}">
					<li><a class="back_butn" style="cursor: pointer;">赔偿单管理</a></li>
				</th:block>
				<th:block th:if="${#strings.contains(Referer,'/ordermanager/complete_apply_list')}">
					<li><a class="back_butn" style="cursor: pointer;">申请完成列表</a></li>
				</th:block>
				<th:block th:if="${#strings.contains(Referer,'/ordermanager/deduct_money_list')}">
					<li><a class="back_butn" style="cursor: pointer;">扣款申请列表</a></li>
				</th:block>
				<th:block th:if="${#strings.contains(Referer,'/ordermanager/reject_unit_list')}">
					<li><a class="back_butn" style="cursor: pointer;">拒单查询</a></li>
				</th:block>
				<th:block th:if="${#strings.contains(Referer,'/ordermanager/fine_money_list')}">
					<li><a class="back_butn" style="cursor: pointer;">罚款申请管理</a></li>
				</th:block>
			</th:block>
			<th:block th:unless="${Referer != null}">
				<li><a class="back_butn" style="cursor: pointer;">订单管理</a></li>
			</th:block>
			<li class="active">订单详情</li>
		</ol>
	</div>
	<!--/* 页面部分二              页面主内容  */-->
	<div class="page_content_main" id="change_sidea">
		<!--/* 以下为自定义代码块  */-->
		<div class="table-responsive">
		<!-- /* 动态 */ -->
		<table id="table-cont" class="table table-hover">
			<tbody th:object="${order}"><!--/* 换 */-->
                <tr>
                  <td colspan="4"><span style="color: red;">* </span>订单信息</td>
                </tr>
                <tr>
                  <td colspan="2" >订单号</td>
                  <td colspan="2">
                  	<span th:text="*{pay_order_id}"></span>
                  </td>
                </tr>
				<tr>
					<td colspan="2" >下单件数</td>
					<td colspan="2">
						<span th:text="${num}"></span>件
					</td>
				</tr>
                <tr>
                  <td colspan="2">订单状态</td>
                  <td colspan="2" th:switch="*{status_active}">
                  	<span th:case="1">待付款</span>
                  	<span th:case="2">
                  		<th:block th:if="${su.status_active eq 6}" th:text="已拒单"></th:block>
                  		<th:block th:unless="${su.status_active eq 6}" th:text="待确认"></th:block>
                  	</span>
                  	<span th:case="3">待服务</span>
                  	<span th:case="4">
						<th:block th:if="*{r_status eq 2}" th:text="已退款"></th:block>
						<th:block th:unless="*{r_status eq 2}" th:text="已取消"></th:block>
					</span>
                  	<span th:case="5">已完成</span>
                  </td>
                </tr>
                <tr sec:authorize="hasRole('ROLE_ORDER_EDIT')">
                	<th:block th:if="*{#lists.contains({2,3}, status_active)}">
                		<th:block th:if="*{status_active eq 2}">
                			<th:block th:if="${su.status_active eq 6}">
                				<td colspan="2">
                					<input type="button" class="btn cancel_btn btn-primary" value="为客人取消"/>
                					&nbsp;&nbsp;&nbsp;&nbsp;
                					<th:block th:if="*{r_status == -1  and channel ne 'JD-001'}">
	                					<input type="button" class="btn refund_btn btn-primary" value="申请退款"/>
                					</th:block>
                				</td>
                				<td colspan="2"><input type="button" class="btn order_change btn-primary" value="订单变更"/></td>
                			</th:block>
                			<th:block th:unless="${su.status_active eq 6}">
	                			<td colspan="4">
	                				<input type="button" class="btn cancel_btn btn-primary" value="为客人取消"/>
	                				&nbsp;&nbsp;&nbsp;&nbsp;
                					<th:block th:if="*{r_status == -1 and channel ne 'JD-001'}">
	                					<input type="button" class="btn refund_btn btn-primary" value="申请退款"/>
                					</th:block>
	                			</td>
                			</th:block>
                		</th:block>
                		<th:block th:if="*{status_active eq 3}">
                			<td colspan="2">
                				<input type="button" class="btn cancel_btn btn-primary" value="为客人取消"/>
                				&nbsp;&nbsp;&nbsp;&nbsp;
                				<th:block th:if="*{r_status == -1 and channel ne 'JD-001'}">
                					<input type="button" class="btn refund_btn btn-primary" value="申请退款"/>
               					</th:block>
                			</td>
                			<td colspan="2">
								<input type="button" class="btn order_change btn-primary" value="订单变更"/>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<th:block sec:authorize="hasRole('ROLE_COMPLETE_APPLY_ADD')" th:if="${su.work_3_datetime == '' or su.work_3_datetime == null}">
									<input type="button" class="btn complete btn-primary" value="确认已完成"/>
								</th:block>
							</td>
                		</th:block>
                	</th:block>
                	<th:block th:if="*{#lists.contains({1,4,5}, status_active)}">
                		<!--/* <td colspan="4" height="45px"></td> */-->
                		 <th:block th:if="*{status_active eq 5 and r_status == -1}">
                			<td colspan="4" height="45px">
								<!--/* <input type="button" class="btn refund_btn btn-primary" value="申请退款"/> */-->
                			</td>
                		</th:block>
                		<th:block th:unless="*{status_active eq 5 and r_status == -1}">
                			<th:block th:if="*{status_active eq 4 and pay_status eq 1 and r_status == -1  and channel ne 'JD-001'}">
                				<td colspan="4"><input type="button" class="btn refund_btn btn-primary" value="申请退款"/></td>
                			</th:block>
                			<th:block th:unless="*{status_active eq 4 and pay_status eq 1 and r_status == -1}">
               					<td colspan="4" height="45px"></td>
                			</th:block>
                		</th:block>
                	</th:block>
                </tr>
                <tr>
                  <td colspan="2">服务名称</td>
                  <td colspan="2" th:text="*{name}"></td>
                </tr>
                <tr>
                  <td th:text="*{cus_username}"></td>
                  <td th:text="*{cus_phone}"></td>
                  <td>服务价格</td>
                  <td>
                  	￥<span th:text="*{#numbers.formatDecimal(price_total*0.01,1,2)}"></span>
                  </td>
                </tr>
                <tr>
                  <td>服务时间</td>
                  <td th:text="${#dates.format(su.c_begin_datetime,'yyyy-MM-dd HH:mm:ss')}"></td>
                  <td>礼券</td>
                  <td>					
                  	-￥<span th:text="*{#numbers.formatDecimal(price_discount*0.01,1,2)}"></span>
                  </td>
                </tr>
                <tr>
                  <td>服务地址</td>
                  <td th:text="*{cus_address}"></td>
                  <td>实付金额</td>
                  <td>				
                  	￥<span id="price_pay" th:text="*{#numbers.formatDecimal(price_pay*0.01,1,2)}"></span>
                  </td>
                </tr>
                <th:block th:if="*{#lists.contains({3,5}, status_active)}">
                	<tr>
                		<td colspan="2">合伙人</td>
                		<td colspan="2">
                			<th:block th:each="partner:${partners}">
								<span th:if="${partner.partner_id eq su.partner_id}" th:text="${partner.name}"></span>
							</th:block>
                		</td>
                	</tr>
                	<!--<tr th:if="*{status_active eq 3}">
                		<td colspan="2">服务人员</td>
                		<td colspan="2" th:text="${su.student_name}"></td>
                	</tr>-->
                	<th:block th:if="${not #lists.isEmpty(persons)}">
                		<!--/* <tr>
                			<td>服务到达时间：</td>
                			<td th:text="${#dates.format(su.work_1_datetime,'yyyy-MM-dd HH:mm:ss')}"></td>
                			<td>服务到达坐标：</td>
                			<td><span th:text="*{lbs_lat}"></span>,<span th:text="*{lbs_lng}"></span></td>
                		</tr> */-->
                		<!--<tr>
                			<td>服务开始时间：</td>
                			<td th:text="${#dates.format(su.work_2_datetime,'yyyy-MM-dd HH:mm:ss')}"></td>
                			<td>服务开始坐标：</td>
                			<td><span th:text="*{lbs_lat}"></span>,<span th:text="*{lbs_lng}"></span></td>
                		</tr>
                		<tr>
                			<td>服务结束时间:</td>
                			<td th:text="${#dates.format(su.work_3_datetime,'yyyy-MM-dd HH:mm:ss')}"></td>
                			<td>服务结束坐标:</td>
                			<td><span th:text="*{lbs_lat}"></span>,<span th:text="*{lbs_lng}"></span></td>
                		</tr>-->
                		<!-- /* <tr>
                			<td>服务离开时间:</td>
                			<td th:text="${#dates.format(su.work_4_datetime,'yyyy-MM-dd HH:mm:ss')}"></td>
                			<td>服务离开坐标:</td>
                			<td><span th:text="*{lbs_lat}"></span>,<span th:text="*{lbs_lng}"></span></td>
                		</tr> */ -->
						<table class="table table-hover">
							<thead>
								<th>服务人员姓名</th>
								<th>服务开始时间</th>
								<th>服务开始坐标</th>
								<th>服务结束时间</th>
								<th>服务结束坐标</th>
							</thead>
							<tbody>
								<tr th:each="sup:${persons}">
									<td style="vertical-align: middle" th:text="${sup.student_name}"></td>
									<td style="vertical-align: middle" th:text="${#dates.format(sup.work_2_datetime,'yyyy-MM-dd HH:mm:ss')}"></td>
									<td style="vertical-align: middle">
										<th:block th:if="${sup.work_2_datetime != null}">
											<span th:text="*{lbs_lat}"></span>,<span th:text="*{lbs_lng}"></span>
										</th:block>
									</td>
									<td style="vertical-align: middle" th:text="${#dates.format(sup.work_3_datetime,'yyyy-MM-dd HH:mm:ss')}"></td>
									<td style="vertical-align: middle">
										<th:block th:if="${sup.work_3_datetime != null}">
											<span th:text="*{lbs_lat}"></span>,<span th:text="*{lbs_lng}"></span>
										</th:block>
									</td>
								</tr>
							</tbody>
						</table>
                	</th:block>
                </th:block>
              </tbody>
		</table>
		<div th:unless="${order.r_status eq 2}">
			<strong style="margin-left: 30px">用户下单备注：</strong>
			<textarea class="form-control" style="width: 400px;margin-left: 30px" th:text="${order.remark}" disabled></textarea><br/>
         	<strong style="margin-left: 30px">订单备注：</strong>
         	<textarea class="form-control" name="sys_remark" id="sys_remark" style="width: 400px;margin-left: 30px"></textarea><br/>
         	<input sec:authorize="hasRole('ROLE_ORDER_EDIT')" class="btn btn-primary remark_btn" style="margin-left: 300px" type="button" value="提交备注" />
         	<br/>
         	<br/>
           </div>
        	<p>日志信息</p> 
           <table class="table">
           	<thead>
           		<tr>
           			<th>序号</th>
           			<th>操作人</th>
           			<th>操作时间</th>
           			<th width="300px">操作内容</th>
           		</tr>
           	</thead>
           	<tbody>
           		<tr th:each="log,index:${logs}">
           			<td th:text="${index.index+1}"></td>
           			<td th:text="${log.operator_name}"></td>
           			<td th:text="${#dates.format(log.create_time,'yyyy-MM-dd HH:mm:ss')}"></td>
           			<td style="width:300px;display:inline-block;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word" th:text="${log.log_text}"></td>
           		</tr>
           	</tbody>
           </table>
		</div>
		<div class="modal fade" id="refund" data-keyboard="false"
			data-backdrop="static" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">申请退款</h4>
					</div>
					<form id="form1">
						<div class="modal-body ">
							<div class="form-group">
								<label>退款金额：</label> 
								<input id="fee" type="text" name="fee" class="form-control" placeholder="请输入退款金额" required />
							</div>
							<div class="form-group">
								<label>申请退款理由：</label> 
								<textarea class="form-control" id="info"
									name="info" placeholder="请输入退款原因" style="height: 70px" required></textarea>
							</div>
						</div>
						<div class="modal-footer form-group">
							<button sec:authorize="hasRole('ROLE_ORDER_EDIT')" id="save_btn" type="button" class="btn btn-primary">确定</button>
							<button id="close_btn" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="complete" data-keyboard="false"
			 data-backdrop="static" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">发起确认服务完成申请：</h4>
					</div>
					<form id="form2">
						<div class="modal-body ">
							<div class="form-group">
								<label>确认完成原因：</label>
								<textarea class="form-control" id="complete_info"
										  name="complete_info" placeholder="请输入确认完成原因" style="height: 70px" required></textarea>
							</div>
						</div>
						<div class="modal-footer form-group">
							<button sec:authorize="hasRole('ROLE_ORDER_EDIT')" id="complete_save_btn" type="button" class="btn btn-primary">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>