<!DOCTYPE HTML>
<html layout:decorate="~{base_layout}">
<head>
<title>订单变更</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/bootstrapValidator.min.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/moment-with-locales.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrapValidator.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.form.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
	$(function() {
	    var msg = [[${msg}]];

	    if (msg != null) {
			reset();
			alertify.alert(msg);
			var pay_order_id = [[${order.pay_order_id}]];
            setTimeout(function (){
                window.location.href = "/ordermanager/order_detail?page_current_page=1&pay_order_id="+pay_order_id;
            }, 3000);
		}

        ymd();

		$(".back_butn").click(function() {
			window.history.go(-1);
		});

		$("#area_partner").click(function() {
			window.location.href = "/ordermanager/area_partner_info";
		});

		$('#form1').bootstrapValidator({
			message : '这个值是无效的！',
			live : 'enabled',
			feedbackIcons : {},
			fields : {
				change_intro : {
					message : '此变更是无效的！',
					validators : {
						notEmpty : {
							message : '请填写变更说明！'
						},
						stringLength : {
							max : 150,
							message : '变更说明不得多于150个字！'
						}
					}
				},
				partner_id : {
					message : '此变更是无效的！',
					validators : {
						notEmpty : {
							message : '请选择合伙人！'
						}
					}
				},
				station_id : {
					message : '此变更是无效的！',
					validators : {
						notEmpty : {
							message : '请选择服务站点！'
						}
					}
				}
//				c_begin_datetime: {
//	                validators: {
//	                    regexp: {
//	                        regexp: /^[1-2][0-9][0-9][0-9]-([1][0-2]|0?[1-9])-([12][0-9]|3[01]|0?[1-9]) ([01][0-9]|[2][0-3]):[0-5][0-9]$/,
//	                        message: '请输入正确的日期格式！如（2018-03-22 11:47）'
//	                    }
//	                }
//	            },
//	            c_end_datetime: {
//	                validators: {
//	                    regexp: {
//	                        regexp: /^[1-2][0-9][0-9][0-9]-([1][0-2]|0?[1-9])-([12][0-9]|3[01]|0?[1-9]) ([01][0-9]|[2][0-3]):[0-5][0-9]$/,
//	                        message: '请输入正确的日期格式！如（2018-03-22 11:47）'
//	                    }
//	                }
//	            }
			}
		});
	
		$("#save_btn").click(function() {
			console.log($("#server_date").val())
            if($("#server_date").val() != ''){
                if($("input[name='time']:checked").size() <= 0){
                    reset();
                    alertify.alert("请选择服务时间段！");
                    return false;
                }
            }
            var time = $("input[name='time']:checked").val();
			/*var partner = $("#partner").val();
			 var station = $("#station").val();*/
            var select_date = $("#server_date").val();

			$("#form1").bootstrapValidator('validate');//提交验证
			if ($("#form1").data('bootstrapValidator').isValid()) {
				//序列化获得表单数据，结果为：user_id=12&user_name=John&user_age=20
				var data = $("#form1").serializeArray();
				//submitData是解码后的表单数据，结果同上
				//var submitData = decodeURIComponent(data, true);
				$.ajax({
					url : '/ordermanager/change_partner',
					data : data,
					cache : false,//false是不缓存，true为缓存
					async : true,//true为异步，false为同步
					dataType : 'json',
					success : function(data) {
						//请求成功时
						reset();
						alertify.success(data.msg);
						setTimeout(function() {
                            window.history.go(-1);
						}, 1500);
					}
				});
				return false;
			}
		});
	});

	function select_partner(partner_id) {
        $("#server_date").val('');
        $("#num").val('');
        $("#time_scope").html("<span style='font-size: 10px'>&nbsp;&nbsp;&nbsp;当前无可选的服务时间段哦！</span>");
		var stations = $.parseJSON($("#stations").val());
		var html = [];
		html.push("<option value=''>请选择服务站点</option>");
		$.each(stations, function(i, ele) {
			if(ele.partner_id == partner_id){
				html.push("<option value="+ele.station_id+">" + ele.address + "</option>");
			}
		});
		$("#station").html(html.join(''));
	}
	
	function change_date(server_date){
//		var c_begin_datetime = $(".c_begin_datetime").val();
//		var c_end_datetime = $(".c_end_datetime").val();
//		if(c_begin_datetime == ''){
//			reset();
//			alertify.alert("请选择预约开始时间！");
//		}
//		if(c_end_datetime == ''){
//			reset();
//			alertify.alert("请选择预约结束时间！");
//		}
//		if(c_begin_datetime != '' && c_end_datetime != ''){
//			if(c_end_datetime < c_begin_datetime){
//				reset();
//				alertify.alert("预约结束时间不得小于预约开始时间！");
//				$(".c_end_datetime").val('');
//			}
//		}

        var timeArray=['00:00','00:30','01:00','01:30','02:00','02:30','03:00','03:30',
            '04:00','04:30','05:00','05:30','06:00','06:30','07:00','07:30',
            '08:00','08:30','09:00','09:30','10:00','10:30','11:00','11:30',
            '12:00','12:30','13:00','13:30','14:00','14:30','15:00','15:30',
            '16:00','16:30','17:00','17:30','18:00','18:30','19:00','19:30',
            '20:00','20:30','21:00','21:30','22:00','22:30','23:00','23:30'
        ];

        var station_id = $("#station").val();
        var pay_order_id = $("#pay_order_id").val();
        var num = $("#num").val();
        if(station_id == '' || pay_order_id == '' || num == ''){
            alertify.alert("请先选择出站点信息和填入需要的服务人员数！");
            return false;
        }

        if(server_date == ''){
            $("#time_scope").html("<span style='font-size: 10px'>&nbsp;&nbsp;&nbsp;当前无可选的服务时间段哦！</span>");
            return false;
        }

        $.ajax({
            url:"/ordermanager/get_optional_time_scope",
            type : 'post',
            data :{
                pay_order_id:pay_order_id,
                station_id:station_id,
                server_date:server_date,
                num:num
            },
            success:function(data){
                var html = [];
                if (data.msg != null) {
                    html.push("<span style='color: red'>该站点下服务人员数量不足<span>");
                }else{
                    var scopeStores = data.scopeStores;
                    $.each(scopeStores, function(i, ele) {
                        var s = ele.skuTime.s;
                        var e = ele.skuTime.e;
                        var inputStr = "";
                        if(i != 0 && (i+1)%2 != 0){
                            inputStr += "</br>";
                        }
                        inputStr += "<input type='radio' class='input timeScope' value='{\"s\":"+s+",\"e\":"+e+"}' name='time'/>";
                        $.each(timeArray,function (i, n) {
                            if(i == s){
                                inputStr += n + ' - ';
                            }
                        });
                        $.each(timeArray,function (i, n) {
                            if(i == e){
                                inputStr += n +"&nbsp;&nbsp;&nbsp;";
                            }
                        });

                        html.push(inputStr);
                    });
                }
                $("#time_scope").html(html.join(''));
            }
        });
	}
	
	function change_station() {
		$("#server_date").val('');
        $("#num").val('');
        $("#time_scope").html("<span style='font-size: 10px'>&nbsp;&nbsp;&nbsp;当前无可选的服务时间段哦！</span>");
    }
</script>
</head>
<body>
<!--/* 申明模板填充  */-->
<div layout:fragment="content">
	<!--/* 页面部分一 （可以省略）           topbar 固定条  */-->
	<div class="page_content_bar">
		<!--/* 面包屑  */-->
		<ol class="breadcrumb clearfix">
			<li><a class="back_butn" style="cursor: pointer;">订单详情</a></li>
			<li class="active">订单变更</li>
		</ol>
	</div>
	<!--/* 页面部分二              页面主内容  */-->
	<div class="page_content_main" data-sidea="side_13">
		<!--/* 以下为自定义代码块  */-->
		<div class="table-responsive">
			<!--/* 动态  */-->
			<table id="table-cont" class="table table-hover">
				<tbody th:object="${order}">
					<tr>
						<td colspan="4"><span style="color: red;">* </span>订单信息</td>
					</tr>
					<tr>
						<td colspan="2">订单号</td>
						<td colspan="2"><span th:text="*{pay_order_id}"></span></td>
					</tr>
					<tr>
						<td colspan="2">订单状态</td>
						<td colspan="2" th:switch="*{status_active}">
							<span th:case="1">待付款</span> 
							<span th:case="2"> 
								<th:block th:if="${su.status_active eq 6}" th:text="已拒单"></th:block> 
								<th:block th:unless="${su.status_active eq 6}" th:text="待确认"></th:block>
							</span> 
							<span th:case="3">待服务</span> 
							<span th:case="4"> 
								<th:block th:if="*{r_status eq 2}" th:text="已退款"></th:block> 
								<th:block th:unless="*{r_status eq 2}" th:text="已取消"></th:block>
							</span> 
							<span th:case="5">已完成</span>
						</td>
					</tr>
					<tr>
						<td colspan="2">服务名称</td>
						<td colspan="2" th:text="*{name}"></td>
					</tr>
					<tr>
						<td th:text="*{cus_username}"></td>
						<td th:text="*{cus_phone}"></td>
						<td>服务价格</td>
						<td> 
							￥<span th:text="*{#numbers.formatDecimal(price_total*0.01,1,2)}"></span>
						</td>
					</tr>
					<tr>
						<td>预约时间</td>
						<td
							th:text="${#dates.format(su.c_begin_datetime,'yyyy-MM-dd HH:mm:ss')}"></td>
						<td>礼券</td>
						<td> 
							-￥<span th:text="*{#numbers.formatDecimal(price_discount*0.01,1,2)}"></span>
						</td>
					</tr>
					<tr>
						<td>服务地址</td>
						<td th:text="*{cus_address}"></td>
						<td>实付金额</td>
						<td> 
							￥<span th:text="*{#numbers.formatDecimal(price_pay*0.01,1,2)}"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<a sec:authorize="hasRole('ROLE_ORDER_P_BROWSE')" id="area_partner" class="btn btn-link btn-xs" href="javascript:;"
			style="margin-left: 240px; outline: none">查看任务排期</a>
		<br/><br/>
		<form id="form1" class="form-horizontal" action="#" th:action="@{/ordermanager/change_partner}" method="post">
			<input type="hidden" name="mts" th:value="${application.mts}"/>
			<div class="form-group">
				<label class="col-sm-2 control-label">
					<span style="color: red;">* </span>原派单合伙人
				</label>
				<div class="col-sm-3">
					<th:block th:each="partner:${partners}">
						<input class="form-control" th:if="${partner.partner_id eq su.partner_id}" th:value="${partner.name}" disabled="disabled"/>
					</th:block>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">
					<span style="color: red;">* </span>变更合伙人
				</label>
				<div class="col-sm-3" id="partner_id">
					<select class="form-control" name="partner_id" onchange="select_partner(this.value)">
						<option value=''>请选择合伙人</option>
						<option th:each="partner:${optional_partners}"
							th:value="${partner.partner_id}" th:text="${partner.name}"> <!--/* th:if="${su.partner_id != partner.partner_id}" 可选原派单合伙人*/-->
						</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">
					<span style="color: red;">* </span>变更站点
				</label>
				<div class="col-sm-4" id="station_id">
					<select id="station" class="form-control" name="station_id" onchange="change_station()">
						<option value=''>请选择服务站点</option>
						<!--<option th:each="station:${stations}"
							th:value="${station.station_id}" th:text="${station.address}">
						</option>-->
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">服务人数</label>
				<div class="col-sm-3">
					<input type="number" id="num" class="form-control" name="num" min="1" max="10" style="width: 250px"/>
				</div>
			</div>
			<div class="form-group form-inline">
				<label class="col-sm-2 control-label">预约时间</label>
				<div class="col-sm-5">
					<div class="input-group date datetimepicker1">
						<input class="form-control c_begin_datetime" type="text" id="server_date" name="c_begin_datetime" onchange="change_date(this.value)" style="width: 140px;"/>
						<span class="input-group-addon" style="width: 50px;">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>

				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">服务时间段</label>
				<div id="time_scope" class="form-inline col-sm-3">
					<span style="font-size: 10px;color: red;">&nbsp;&nbsp;&nbsp;当前无可选的服务时间段哦！</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="change_intro">
					<span style="color: red;">* </span>变更说明
				</label>
				<div class="col-sm-6">
					<textarea class="form-control" id="change_intro" name="change_intro"></textarea>
				</div>
			</div>
			<input id="stations" type="hidden" th:value="${ss}"> 
			<input type="hidden" id="pay_order_id" name="pay_order_id" th:value="${order.pay_order_id}">
			<div class="form-group">
				<div class="col-sm-3 col-sm-offset-2">
					<button id="save_btn" type="submit" class="btn btn-primary">确定</button>
					&nbsp;&nbsp;&nbsp;&nbsp; 
					<input class="btn btn-primary back_butn" type="button" value="取消" />
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html>