<!DOCTYPE HTML>
<!--/* 引入模板页面  */-->
<html layout:decorate="~{base_layout}">
<head>
<title>订单信息列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrapValidator.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/bootstrapValidator.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.form.min.js}"></script>
<script type="text/javascript" th:src="@{/js/moment-with-locales.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>
<!--<script type="text/javascript" th:src="@{/js/citydata.js}"></script>
<script type="text/javascript" th:src="@{/js/cityPicker-1.0.0.js?v=1}"></script>-->
<script type="text/javascript" th:inline="javascript">
	$(function(){
        /*var select = $('.city-picker-select').cityPicker({
            dataJson: cityData,
            renderMode: false,
            linkage: false
        });

        var province = [[${province}]];
        var city = [[${city}]];
        var area = [[${area}]];
        if(province && city && area){
            select.setCityVal([{
                'id':province.toString()
            },{
                'id':city.toString()
            },{
                'id':area.toString()
            }
            ]);
        }*/

		ymd();
        var mts = [[${application.mts}]];
		var partner_id = [[${partner_id}]];
		var statu = [[${statu}]];
		if(partner_id){
			$(".partner_id option").each(function(){
				if($(this).val() == partner_id){
					$(this).prop("selected",true);
				}
			});
		}
		if(statu){
			$(".statu option").each(function(){
				if($(this).val() == statu){
					$(this).prop("selected",true);
				}
			});
		}

		$(".query").click(function(){
		    var channel_code = $(".channel_code").val();
			var uname = $(".uname").val();
			var pay_order_id = $(".pay_order_id").val();
			var c_begin_datetime = $(".c_begin_datetime").val();
			//c_begin_datetime = c_begin_datetime.replace("T"," ");
			var c_end_datetime = $(".c_end_datetime").val();
			//c_end_datetime = c_end_datetime.replace("T"," ");
			var cuname = $(".cuname").val();
			var uphone = $(".uphone").val();
			var student_name = $(".student_name").val();
			var partner_id = $(".partner_id").val();
			var statu = $(".statu").val();
			var qs_create_time = $(".qs_create_time").val();
			var qe_create_time = $(".qe_create_time").val();
			var qs_pay_time = $(".qs_pay_time").val();
			var qe_pay_time = $(".qe_pay_time").val();
			var assign_state = $(".assign_state").val();

			var url = "/ordermanager/goto_order_list?channel_code="+channel_code+"&uname="+uname+"&pay_order_id="+pay_order_id+
				"&cuname="+cuname+"&uphone="+uphone+"&student_name="+student_name+
				"&partner_id="+partner_id+"&statu="+statu;

			if(assign_state != '' && assign_state != null){
			    url = url + "&assign_state="+assign_state;
			}

			if(c_begin_datetime != '' && c_end_datetime != ''){
				if(c_end_datetime < c_begin_datetime){
					reset();
					alertify.alert("查询结束时间不得小于查询开始时间！");
					return;
				}else{
					var c_be = "&c_begin_datetime="+c_begin_datetime+"&c_end_datetime="+c_end_datetime;
					url = url + c_be;
				}
			}else if(c_begin_datetime != '' || c_end_datetime != ''){
				reset();
				alertify.alert("查询开始、结束时间不可以有空值！");
				return;
			}

			if(qs_create_time != '' && qe_create_time != ''){
				if(qe_create_time < qs_create_time){
					reset();
					alertify.alert("查询结束时间不得小于查询开始时间！");
					return;
				}else{
					var cr_be = "&qs_create_time="+qs_create_time+"&qe_create_time="+qe_create_time;
					url = url + cr_be;
				}
			}else if(qs_create_time != '' || qe_create_time != ''){
				reset();
				alertify.alert("查询开始、结束时间不可以有空值！");
				return;
			}

			if(qs_pay_time != '' && qe_pay_time != ''){
				if(qe_pay_time < qs_pay_time){
					reset();
					alertify.alert("查询结束时间不得小于查询开始时间！");
					return;
				}else{
					var pay_be = "&qs_pay_time="+qs_pay_time+"&qe_pay_time="+qe_pay_time;
					url = url + pay_be;
				}
			}else if(qs_pay_time != '' || qe_pay_time != ''){
				reset();
				alertify.alert("查询开始、结束时间不可以有空值！");
				return;
			}

			window.location.href = url;
		});

        $('#form1').bootstrapValidator({
            message: '这个值是无效的！',
            live: 'enabled',
            feedbackIcons: {
//		            valid: 'glyphicon glyphicon-ok',
//		            invalid: 'glyphicon glyphicon-remove',
//		            validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                amount: {
                    validators: {
//                        notEmpty: {
//                            message: '请填写赔偿金额！'
//                        },
                        regexp: {
                            regexp: /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/,
                            message: '请输入正确的赔偿金额信息！'
                        }
                    }
                },
                compensation_info: {
                    validators: {
                        notEmpty: {
                            message: '请填写赔偿原因！'
                        },
                        stringLength: {
                            min: 5,
                            max: 200,
                            message: '赔偿原因最短不得低于5个字符，最长不得多于200个字符'
                        }
                    }
                },
                partner_bear_amount: {
                    validators: {
//                        notEmpty: {
//                            message: '请填写合伙人承担赔偿金额！'
//                        },
                        regexp: {
                            regexp: /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/,
                            message: '请输入正确的赔偿金额信息！'
                        }
                    }
                },
                partner_bear_coupon_amount: {
                    validators: {
//                        notEmpty: {
//                            message: '请填写合伙人承担赔偿金额！'
//                        },
                        regexp: {
                            regexp: /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/,
                            message: '请输入正确的合伙人承担赔偿券金额信息！'
                        }
                    }
                },
                payee: {
                    validators: {
                        notEmpty: {
                            message: '请填写收款人姓名！'
                        }
                    }
                },
                payee_card: {
                    validators: {
                        notEmpty: {
                            message: '请填写收款人卡号！'
                        },
                        regexp: {
                            regexp: /^(\d{16}|\d{19})$/,
                            message: '请输入正确的收款人卡号！'
                        }
                    }
                },
                receiving_bank: {
                    validators: {
                        notEmpty: {
                            message: '请填写收款银行！'
                        }
                    }
                }
            }
        });

        $('#form2').bootstrapValidator({
            message: '这个值是无效的！',
            live: 'enabled',
            feedbackIcons: {
//		            valid: 'glyphicon glyphicon-ok',
//		            invalid: 'glyphicon glyphicon-remove',
//		            validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                deduct_amount: {
                    validators: {
                        notEmpty: {
                            message: '请填写扣款金额！'
                        },
                        regexp: {
                            regexp: /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/,
                            message: '请输入正确的扣款金额信息！'
                        }
                    }
                },
                deduct_info: {
                    validators: {
                        notEmpty: {
                            message: '请填写扣款原因！'
                        },
                        stringLength: {
                            min: 5,
                            max: 200,
                            message: '扣款原因最短不得低于5个字符，最长不得多于200个字符'
                        }
                    }
                }
            }
        });

        $("#assign_btn").click(function () {
            if($("#select_date").val() == ''){
                reset();
                alertify.alert("请选择服务日期！");
                return false;
            }
            if($("input[name='time']:checked").size() <= 0){
                reset();
                alertify.alert("请选择服务时间段！");
                return false;
            }
            var time = $("input[name='time']:checked").val();
            /*var partner = $("#partner").val();
            var station = $("#station").val();*/
            var select_date = $("#server_date").val();
            var pay_order_id = $("#form3_pay_order_id").val();
            var address = $("#address").val();

            $.ajax({
                url:"/ordermanager/assign_order",
                type : 'post',
                data :{
                    pay_order_id:pay_order_id,
                    time:time,
                    /*partner:partner,
                    station:station,*/
                    select_date:select_date,
					address:address,
                    mts:mts
                },
                success:function(data){
                    reset();
                    alertify.success(data.msg);
                    setTimeout(function (){
                        location.reload(true);
                    }, 1500);
                }
            });
        });

        $("#save_btn").click(function(){
            $('#form1').data('bootstrapValidator').resetForm();
            $("#form1").bootstrapValidator('validate');
            if ($("#form1").data('bootstrapValidator').isValid()) {
                var amount = $("#amount").val();
                var partner_bear_amount = $("#partner_bear_amount").val();
                var compensation_info = $("#compensation_info").val();
                var partner_bear_coupon_amount = $("#partner_bear_coupon_amount").val();
                var coupon_id = $("input[type='radio']:checked").val();
                if(amount == '' && (coupon_id == null||coupon_id == '')){
                    reset();
                    alertify.alert("赔偿金额和赔偿券额至少需要选择其中一个！");
                    return false;
				}
				if(amount != ''){
					if($("#partner_bear_amount").val() == ''){
                        reset();
                        alertify.alert("请填写合伙人承担金额！");
                        return false;
					}
				}
                if(coupon_id != null && coupon_id != ''){
                    if($("#partner_bear_coupon_amount").val() == ''){
                        reset();
                        alertify.alert("请填写合伙人承担券金额！");
                        return false;
                    }
                }
                if($("#partner_bear_amount").val() != ''){
                    if(amount == ''){
                        $("#partner_bear_amount").val(0);
                        partner_bear_amount = 0;
                    }
                }
                if($("#partner_bear_coupon_amount").val() != ''){
                    if(coupon_id == ''){
                        $("#partner_bear_coupon_amount").val(0);
                        partner_bear_coupon_amount = 0;
                    }
                }
                var payee = $("#payee").val();
                var payee_card = $("#payee_card").val();
                var receiving_bank = $("#receiving_bank").val();
                var partner_id = $("#partner_id").val();
                var pay_order_id = $("#pay_order_id").val();
                if(Number(amount) > 1000000 || Number(amount) < 0){
                    reset();
                    alertify.alert("赔偿金额最小不能等于0元，最大不能超过1000000.00元！");
                    return false;
				}
                if(Number(partner_bear_coupon_amount) > 1000000 || Number(partner_bear_coupon_amount) < 0){
                    reset();
                    alertify.alert("合伙人承担券金额最小不能等于0元，最大不能超过1000000.00元！");
                    return false;
                }
                if(amount != '' && Number(partner_bear_amount) > Number(amount)){
                    reset();
                    alertify.alert("合伙人承担金额不得大于赔偿金额！");
                    return false;
                }else{
                    $.ajax({
                        url:"/ordermanager/compensation_add",
                        type : 'post',
                        data :{
                            pay_order_id:pay_order_id,
                            compensation_info:compensation_info,
                            amount:amount*100,
                            partner_bear_amount:partner_bear_amount*100,
                            partner_bear_coupon_amount:partner_bear_coupon_amount*100,
                            coupon_id:coupon_id,
                            payee:payee,
                            payee_card:payee_card,
                            receiving_bank:receiving_bank,
                            partner_id:partner_id,
							mts:mts
                        },
                        success:function(data){
                            reset();
                            alertify.success(data.msg);
                            setTimeout(function (){
                                location.reload(true);
                            }, 1500);
                        }
                    });
                }
            }
        });

        $("#save_btn1").click(function () {
            $('#form2').data('bootstrapValidator').resetForm();
            $("#form2").bootstrapValidator('validate');
            if ($("#form2").data('bootstrapValidator').isValid()) {
                var deduct_amount = $("#deduct_amount").val();
                var deduct_info = $("#deduct_info").val();
                var pay_order_id = $("#pay_order_id_deduct").val();
                if(Number(deduct_amount) > 1000000 || Number(deduct_amount) <= 0){
                    reset();
                    alertify.alert("扣款金额最小不能等于0元，最大不能超过1000000.00元！");
                    return false;
                }
                $.ajax({
                    url:"/ordermanager/deduct_money_add",
                    type : 'post',
                    data :{
                        pay_order_id:pay_order_id,
                        deduct_info:deduct_info,
                        deduct_amount:deduct_amount*100,
                        mts:mts
                    },
                    success:function(data){
                        reset();
                        alertify.success(data.msg);
                        setTimeout(function (){
                            location.reload(true);
                        }, 1500);
                    }
                });
            }
        });
	});

	function detail(pay_order_id,pageNo){
		window.location.href = "/ordermanager/order_detail?page_current_page="+pageNo+"&pay_order_id="+pay_order_id;
	}

	function exportExcel(){
        var mts = [[${application.mts}]];
        reset();
        alertify.confirm("确定要以当前条件生成excel列表吗？", function (e) {
            if (e) {
                var uname = $(".uname").val();
                var pay_order_id = $(".pay_order_id").val();
                var c_begin_datetime = $(".c_begin_datetime").val();
                //c_begin_datetime = c_begin_datetime.replace("T"," ");
                var c_end_datetime = $(".c_end_datetime").val();
                //c_end_datetime = c_end_datetime.replace("T"," ");
                var cuname = $(".cuname").val();
                var uphone = $(".uphone").val();
                var student_name = $(".student_name").val();
                var partner_id = $(".partner_id").val();
                var statu = $(".statu").val();
                var qs_create_time = $(".qs_create_time").val();
                var qe_create_time = $(".qe_create_time").val();
                var qs_pay_time = $(".qs_pay_time").val();
                var qe_pay_time = $(".qe_pay_time").val();
                var channel_code = $(".channel_code").val();
                var assign_state = $(".assign_state").val();

                var json = {"channel_code":channel_code,"uname":uname,"pay_order_id":pay_order_id,"c_begin_datetime":c_begin_datetime,"c_end_datetime":c_end_datetime,
                    "cuname":cuname,"uphone":uphone,"student_name":student_name,"partner_id":partner_id,"statu":statu,
                    "qs_create_time":qs_create_time,"qe_create_time":qe_create_time,"qs_pay_time":qs_pay_time,"qe_pay_time":qe_pay_time,"mts":mts,"assign_state":assign_state};

                reset = function () {
                    $("toggleCSS").href = "assets/js/lib/alertify/alertify.bootstrap.css";
                    alertify.set({
                        labels : {
                            ok   : "确认",
                            cancel : "取消"
                        },
                        delay : 5000,
                        buttonReverse : false,
                        buttonFocus  : "ok"
                    });
                };

                $.ajax({
                    url:"/ordermanager/exportExcel",
                    type : 'post',
                    data :{
                        params:JSON.stringify(json)
                    },
                    success:function(data){
                        reset();
                        alertify.success(data.msg);
                    }
                });
            } else {
                reset();
                alertify.log("已取消操作。");
            }
        });
	}

	function compensation(pay_order_id,partner_id) {
        $.ajax({
            url:"/ordermanager/compensation_check_exist",
            type : 'post',
            data :{
                pay_order_id:pay_order_id
            },
            success:function(data){
                if($('#radioA').length<=0){
                    $.each(data.programmes,function(i,ele){
                        var html = [];
                        html.push("<div id='radioA' class='radio'><label>");
                        html.push("<input style='margin-left: 20px' type='radio' name='coupon_id' value="+ele.coupon_id+">");
                        html.push("<span style='margin-left: 35px'>"+ele.title+"</span>");
                        html.push("</label></div>");
                        $("#coupon_receive").children().last().append(html.join(''));
                    });
                }
                if(data.compensation != null){
                    $("#amount").val(data.compensation.amount * 0.01);
                    $("input[type='radio']").each(function(i,ele){
						if(ele.value == data.compensation.coupon_id){
						    $(this).attr('checked',true);
						}
					});
                    $("#partner_bear_amount").val(data.compensation.partner_bear_amount * 0.01);
                    $("#partner_bear_coupon_amount").val(data.compensation.partner_bear_coupon_amount * 0.01);
                    $("#compensation_info").val(data.compensation.compensation_info);
                    $("#payee").val(data.compensation.payee);
                    $("#payee_card").val(data.compensation.payee_card);
                    $("#receiving_bank").val(data.compensation.receiving_bank);
                    $("#compensation").modal('show');
                    $(".modal-footer").hide();
                }else{
                    $(".modal-footer").show();

                    $("#amount").val('');
                    $("input[type='radio']").each(function(i,ele){
						$(this).attr('checked',false);
                    });
                    $("#partner_bear_amount").val('');
                    $("#partner_bear_coupon_amount").val('');
                    $("#compensation_info").val('');
                    $("#payee").val('');
                    $("#payee_card").val('');
                    $("#receiving_bank").val('');

                    $("#partner_id").val(partner_id);
                    $("#pay_order_id").val(pay_order_id);
                    $("#compensation").modal('show');
				}
            }
        });
    }

    function deduct_money(pay_order_id){
        $.ajax({
            url:"/ordermanager/deduct_money_check_exist",
            type : 'post',
            data :{
                pay_order_id:pay_order_id
            },
            success:function(data){
                if(data.pay_order_id != null){
                    $("#deduct_info").val(data.deduct_info);
                    $("#deduct_amount").val(data.deduct_amount * 0.01);
                    $("#deduct_money").modal('show');
                    $(".modal-footer").hide();
                }else{
                    $(".modal-footer").show();
                    $("#deduct_info").val('');
                    $("#deduct_amount").val('');
                    $("#pay_order_id_deduct").val(pay_order_id);
                    $("#deduct_money").modal('show');
                }
            }
        });
	}

	function assign_order_pre(pay_order_id,cus_address) {
        $("#address").val('');
        $("#timeModels").val('');
        $("#server_date").html("<option value=''>请选择</option>");
        $("#time_scope").html("<span style='font-size: 10px'>&nbsp;&nbsp;&nbsp;当前无可选的服务时间段哦！</span>");

        $("#form3_pay_order_id").val(pay_order_id);
        $("#jd_address").val(cus_address);

        $.ajax({
            url:"/ordermanager/get_has_store_time_scope",
            type : 'post',
            data :{
                pay_order_id:pay_order_id,
				address:""
            },
            success:function(data){
                var html = [];
                html.push("<option value=''>请选择</option>");
                if (data.msg != null) {
                    reset();
                    alertify.alert(data.msg);
                }else{
                    var timeModels = data.timeModels;
					$("#timeModels").val(JSON.stringify(timeModels));
                    $.each(timeModels, function(i, ele) {
                        html.push("<option value='"+ele.dateTime+"'>"+ele.dateTime+"</option>");
                    });
                }
                $("#server_date").html(html.join(''));
                $("#assign_order").modal('show');
            }
        });
    }

    function select_date() {
        $("#time_scope").html("<span style='font-size: 10px'>&nbsp;&nbsp;&nbsp;当前无可选的服务时间段哦！</span>");
        var timeModels = $("#timeModels").val();
        var times = JSON.parse(timeModels);
        var html = [];
        $.each(times, function(i, ele) {
            if(ele.dateTime == $("#server_date").val()){
                var models = ele.models;
                $.each(models, function(j, e) {
					var start = e.start;
					var end = e.end;
					var end_s = '';
					if(typeof(end) == "undefined"){
						end_s = "untime";
					}else{
						end_s = end;
					}

					var inputStr = "";
					if(j != 0 && (j+1)%2 != 0){
						inputStr += "</br>";
					}
					inputStr += "<input type='radio' class='input timeScope' value='"+start+","+end_s+"' name='time'/>";
					inputStr += start + " - " + end_s + "&nbsp;&nbsp;&nbsp;";
					html.push(inputStr);
				});
            }
        });
        $("#time_scope").html(html.join(''));
    }

    function change_address() {
        var pay_order_id = $("#form3_pay_order_id").val();
        $("#timeModels").val('');
        $("#server_date").val('');
        var address = $("#address").val();
        if(address != ''){
            $.ajax({
                url:"/ordermanager/get_has_store_time_scope",
                type : 'post',
                data :{
                    pay_order_id:pay_order_id,
                    address:address
                },
                success:function(data){
                    var html = [];
                    html.push("<option value=''>请选择</option>");
                    if (data.msg != null) {
                        reset();
                        alertify.alert(data.msg);
                    }else{
                        var timeModels = data.timeModels;
                        $("#timeModels").val(JSON.stringify(timeModels));
                        $.each(timeModels, function(i, ele) {
                            html.push("<option value='"+ele.dateTime+"'>"+ele.dateTime+"</option>");
                        });
                    }
                    $("#server_date").html(html.join(''));
                }
            });
        }
        $("#time_scope").html("<span style='font-size: 10px'>&nbsp;&nbsp;&nbsp;当前无可选的服务时间段哦！</span>");
    }
</script>
</head>
<body>
<div layout:fragment="content">
	<!--/* 页面部分一 （可以省略）           topbar 固定条  */-->
	<div class="page_content_bar">
		<!--/* 面包屑  */-->
		<ol class="breadcrumb clearfix">
			<li class="active">订单列表</li>
			<li class="libtn">
				<button sec:authorize="hasRole('ROLE_ORDER_EXPORT')" id="export_btn" name="file" class="btn btn-primary" onclick="exportExcel()">
					<span class="fas fa-sign-out-alt"></span>导出
				</button>
			</li>
		</ol>
	</div>
	<!--/* 页面部分二              页面主内容  */-->
	<div class="page_content_main" data-sidea="side_13">
		<div style="padding:10px 10px; background:#fff" class="screen">
			<div class="ab_screen">
				<div class="form-inline">
					<label>订单来源：</label>
					<select class="form-control channel_code input-sm" name="channel_code"  style="margin-right: 20px">
						<option value=''>全部</option>
						<th:block th:each="channel:${channels}">
							<option  th:value="${channel.code}" th:text="${channel.channel_name}" th:selected="${channel_code eq channel.code}"></option>
						</th:block>
					</select>
					<th:block th:if="${channel_code eq 'JD-001'}">
						<label>派单状态：</label>
						<select class="form-control assign_state input-sm" name="assign_state"  style="margin-right: 20px">
							<option value=''>请选择</option>
							<option th:selected="${assign_state eq 0}" value='0'>未派单</option>
							<option th:selected="${assign_state eq 1}" value='1'>已派单</option>
						</select>
					</th:block>
				</div>
				<br/>
				<div class="form-inline">
					<div class="form-group"  style="margin-right: 20px">
						<label>服务名称：</label>
						<input type="text" name="uname" th:if="${uname != ''}" th:value="${uname}" class="form-control uname input-sm"/>
					</div>
					<div class="form-group"  style="margin-right: 20px">
						<label>订单号：</label>
						<input type="text" name="pay_order_id" th:if="${pay_order_id != ''}" th:value="${pay_order_id}" class="form-control pay_order_id input-sm"/>
					</div>
					<div class="form-group">
						<label>服务时间：</label>
						<div class="input-group date datetimepicker1">
							<input class="form-control  c_begin_datetime input-sm" type="text" name="c_begin_datetime" th:if="${c_begin_datetime != ''}"
								   th:value="${#dates.format(c_begin_datetime,'yyyy-MM-dd')}" style="width: 130px;" />
							<span class="input-group-addon" style="width: 50px; height: 30px;">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
						</div>
						<label>~</label>
						<div class="input-group date datetimepicker1">
							<input class="form-control  c_end_datetime input-sm" type="text" name="c_end_datetime" th:if="${c_end_datetime != ''}"
								   th:value="${#dates.format(c_end_datetime,'yyyy-MM-dd')}" style="width: 130px;" />
							<span class="input-group-addon" style="width: 50px; height: 30px;">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
						</div>
					</div>
				</div>
				<br/>
				<div class="form-inline">
					<div class="form-group"  style="margin-right: 20px">
						<label>顾客姓名：</label>
						<input type="text" name="cuname" th:if="${cuname != ''}" th:value="${cuname}" class="form-control cuname input-sm">
					</div>
					<div class="form-group"  style="margin-right: 20px">
						<label>收货人电话：</label>
						<input type="text" name="uphone" th:if="${uphone != ''}" th:value="${uphone}" class="form-control uphone input-sm">
					</div>
					<div class="form-group">
						<label>服务人员姓名：</label>
						<input type="text" name="student_name" th:if="${student_name != ''}" th:value="${student_name}" class="form-control student_name input-sm">
					</div>
				</div>
				<br/>
				<div class="form-inline">
					<div class="form-group">
						<label>合伙人：</label>
						<select class="form-control partner_id input-sm" name="partner_id"  style="margin-right: 20px">
							<option value=''>请选择</option>
							<option th:each="partner:${partners}" th:value="${partner.partner_id}" th:text="${partner.name}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>订单状态：</label>
						<select class="form-control statu input-sm" name="statu"  style="margin-right: 20px">
							<option value=''>全部</option>
							<option value="1">待支付</option>
							<option value="2">待确认</option>
							<option value="3">待服务</option>
							<option value="4">已取消</option>
							<option value="5">已完成</option>
							<option value="26">已拒单</option>
							<option value="42">已退款</option>
						</select>
					</div>
					<div class="form-group">
						<label>下单时间：</label>
						<div class="input-group date datetimepicker1">
							<input class="form-control  qs_create_time input-sm" type="text" name="qs_create_time" th:if="${qs_create_time != ''}"
								   th:value="${#dates.format(qs_create_time,'yyyy-MM-dd')}" style="width: 130px;" />
							<span class="input-group-addon" style="width: 50px; height: 30px;">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
						</div>
						<label>~</label>
						<div class="input-group date datetimepicker1">
							<input class="form-control  qe_create_time input-sm" type="text" name="qe_create_time" th:if="${qe_create_time != ''}"
								   th:value="${#dates.format(qe_create_time,'yyyy-MM-dd')}" style="width: 130px;" />
							<span class="input-group-addon" style="width: 50px; height: 30px;">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
						</div>
					</div>
				</div>
				<br/>
				<div class="form-inline">
					<div class="form-group" style="margin-right: 20px">
						<label>支付时间：</label>
						<div class="input-group date datetimepicker1">
							<input class="form-control  qs_pay_time input-sm" type="text" name="qs_pay_time" th:if="${qs_pay_time != ''}"
								   th:value="${#dates.format(qs_pay_time,'yyyy-MM-dd')}" style="width: 130px;" />
							<span class="input-group-addon" style="width: 50px; height: 30px;">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
						</div>
						<label>~</label>
						<div class="input-group date datetimepicker1">
							<input class="form-control  qe_pay_time input-sm" type="text" name="qe_pay_time" th:if="${qe_pay_time != ''}"
								   th:value="${#dates.format(qe_pay_time,'yyyy-MM-dd')}" style="width: 130px;" />
							<span class="input-group-addon" style="width: 50px; height: 30px;">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
						</div>
					</div>
					<button class="btn btn-primary query btn-sm">查询</button>

				</div>
			</div>
		</div>
		<!--/* 以下为自定义代码块  */-->
		<div class="table-responsive">
			<!--/* 动态  */-->
			<table id="table-cont" class="table table-striped table-hover">
				<thead>
				<tr>
					<th width="100px" sec:authorize="hasRole('ROLE_ORDER_BROWSE')">订单号</th>
					<th width="100px">订单状态</th>
					<th width="100px">下单日期</th>
					<th width="100px">下单件数</th>
					<th width="100px">服务名称</th>
					<th width="100px">用户姓名</th>
					<th width="100px">收货人电话</th>
					<th width="100px">下单人电话</th>
					<th width="100px">服务地址</th>
					<th width="100px">服务价格</th>
					<th width="100px">实付金额</th>
					<th width="100px">合伙人公司名</th>
					<th width="100px">服务人员</th>
					<th width="100px">服务时间</th>
					<th width="100px">操作</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="info:${list}">
					<td style="vertical-align: middle" sec:authorize="hasRole('ROLE_ORDER_BROWSE')">
						<a class="btn btn-link btn-xs" href="javascript:;" style="outline:none" th:onclick="|detail('${info.pay_order_id}','${page.pageNo}');|" th:text="${info.pay_order_id}"></a>
					</td>
					<td style="vertical-align: middle" th:switch="${info.o_status_active}">
						<span th:case="1">待付款</span>
						<span th:case="2">
	                  		<th:block th:if="${info.status_active eq 6}" th:text="已拒单"></th:block>
	                  		<th:block th:unless="${info.status_active eq 6}" th:text="待确认"></th:block>
	                  	</span>
						<span th:case="3">待服务</span>
						<span th:case="4">
							<th:block th:if="${info.r_status eq 2}" th:text="已退款"></th:block>
							<th:block th:unless="${info.r_status eq 2}" th:text="已取消"></th:block>
						</span>
						<span th:case="5">已完成</span>
					</td>
					<td style="vertical-align: middle;width: 100px;" th:text="${#dates.format(info.create_datetime,'yyyy-MM-dd HH:mm:ss')}"></td>
					<td style="vertical-align: middle;width: 100px;" th:text="${info.num}"></td>
					<td style="vertical-align: middle;width: 100px;" th:text="${info.uname}"></td>
					<td style="vertical-align: middle;" th:text="${info.cus_username}"></td>
					<td style="vertical-align: middle" th:text="${info.cus_phone}"></td>
					<td style="vertical-align: middle" th:text="${info.uphone}"></td>
					<td style="vertical-align: middle" th:text="${info.cus_address}"></td>
					<td style="vertical-align: middle" th:text="${#numbers.formatDecimal(info.price_total*0.01,1,2)}"></td>
					<td style="vertical-align: middle">
						<th:block th:if="${info.price_pay != null}" th:text="${#numbers.formatDecimal(info.price_pay*0.01,1,2)}"></th:block>
						<th:block th:unless="${info.price_pay != null}" th:text="订单未支付"></th:block>
					</td>
					<td style="vertical-align: middle">
						<th:block th:if="${info.partner_id != null}">
							<th:block th:each="partner:${partners}">
								<span th:if="${partner.partner_id eq info.partner_id}" th:text="${partner.name}"></span>
							</th:block>
						</th:block>
						<th:block th:unless="${info.partner_id != null}" th:text="还未指派合伙人"></th:block>
					</td>
					<td style="vertical-align: middle">
						<th:block th:if="${info.student_name != null}" th:text="${info.student_name}"></th:block>
						<th:block th:unless="${info.student_name != null}" th:text="还未指派服务人员"></th:block>
					</td>
					<td style="vertical-align: middle">
						<span th:text="${#dates.format(info.c_begin_datetime,'yyyy-MM-dd HH:mm:ss')}"></span>
					</td>
					<td style="vertical-align: middle">
						<th:block sec:authorize="hasAnyRole('ROLE_COMPENSATION_ADD','ROLE_COMPENSATION_BROWSE')" th:if="${(info.o_status_active eq 5) or (info.work_status gt 1)}" >
							<a class="btn btn-link btn-xs" href="javascript:;" style="outline:none" th:onclick="|compensation('${info.pay_order_id}','${info.partner_id}');|"><i class="fab fa-bitcoin"></i>赔偿</a>
						</th:block>
						<th:block sec:authorize="hasRole('ROLE_ORDER_BROWSE')">
							<a class="btn btn-link btn-xs" href="javascript:;" style="outline:none" th:onclick="|detail('${info.pay_order_id}','${page.pageNo}');|"><i class="fas fa-search"></i>查看详情</a>
						</th:block>
						<th:block sec:authorize="hasAnyRole('ROLE_DEDUCT_MONEY_ADD','ROLE_DEDUCT_MONEY_BROWSE')" th:if="${(info.o_status_active eq 5) or (info.work_status gt 1)}" >
							<a class="btn btn-link btn-xs" href="javascript:;" style="outline:none" th:onclick="|deduct_money('${info.pay_order_id}');|"><i class="fab fa-bitcoin"></i>扣款</a>
						</th:block>
						<th:block sec:authorize="hasRole('ROLE_ORDER_EDIT')" th:if="${info.o_status_active eq 2 and info.channel eq 'JD-001' and info.status_active eq 1}">
							<a class="btn btn-link btn-xs" href="javascript:;" style="outline:none" th:onclick="|assign_order_pre('${info.pay_order_id}','${info.cus_address}');|"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>派发订单</a>
						</th:block>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div th:include="~{tags/pagination::p1(@{/ordermanager/goto_order_list(channel_code=${channel_code},assign_state=${assign_state},uname=${uname},pay_order_id=${pay_order_id},c_begin_datetime=${#dates.format(c_begin_datetime,'yyyy-MM-dd')},c_end_datetime=${#dates.format(c_end_datetime,'yyyy-MM-dd')},
			cuname=${cuname},uphone=${uphone},student_name=${student_name},partner_id=${partner_id},statu=${statu},qs_create_time=${#dates.format(qs_create_time,'yyyy-MM-dd')},qe_create_time=${#dates.format(qe_create_time,'yyyy-MM-dd')},qs_pay_time=${#dates.format(qs_pay_time,'yyyy-MM-dd')},
			qe_pay_time=${#dates.format(qe_pay_time,'yyyy-MM-dd')})},${page.total}
					,${page.pageSize},${page.pageNo},${page.totalPage},right,p)}">
		</div>
		<div class="modal fade" id="compensation" data-keyboard="false"
			 data-backdrop="static" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">发起赔偿</h4>
					</div>
					<form id="form1">
						<div class="modal-body ">
							<input type="hidden" name="pay_order_id" id="pay_order_id"/>
							<input type="hidden" name="partner_id" id="partner_id"/>
							<div class="form-group">
								<label>赔偿金额：</label>
								<input id="amount" type="text" name="amount" class="form-control" placeholder="请输入赔偿金额"/>
							</div>
							<div class="form-group">
								<label>赔偿原因：</label>
								<textarea class="form-control" id="compensation_info"
										  name="compensation_info" placeholder="请输入赔偿原因" style="height: 70px" required></textarea>
							</div>
							<div class="form-group" id="coupon_receive">
								<label>赔偿券：</label>
							</div>
							<div class="form-group">
								<label>合伙人承担金额：</label>
								<input id="partner_bear_amount" type="text" name="partner_bear_amount" class="form-control" placeholder="请输入合伙人应承担金额"/>
							</div>
							<div class="form-group">
								<label>合伙人承担券金额：</label>
								<input id="partner_bear_coupon_amount" type="text" name="partner_bear_coupon_amount" class="form-control" placeholder="请输入合伙人应承担券金额"/>
							</div>
							<div class="form-group">
								<label>收款人姓名：</label>
								<input id="payee" type="text" name="payee" class="form-control" placeholder="请输入收款人姓名" required/>
							</div>
							<div class="form-group">
								<label>收款人卡号：</label>
								<input id="payee_card" type="text" name="payee_card" class="form-control" placeholder="请输入收款人卡号" required/>
							</div>
							<div class="form-group">
								<label>收款银行：</label>
								<input id="receiving_bank" type="text" name="receiving_bank" placeholder="请输入收款银行" class="form-control" required/>
							</div>
						</div>
						<div class="modal-footer form-group">
							<button sec:authorize="hasRole('ROLE_ORDER_EDIT')" id="save_btn" type="button" class="btn btn-primary">确定</button>
							<button id="close_btn" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="deduct_money" data-keyboard="false"
			 data-backdrop="static" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">发起扣款</h4>
					</div>
					<form id="form2">
						<div class="modal-body ">
							<input type="hidden" name="pay_order_id" id="pay_order_id_deduct"/>
							<div class="form-group">
								<label>扣款原因：</label>
								<textarea class="form-control" id="deduct_info"
										  name="deduct_info" placeholder="请输入扣款原因" style="height: 70px" required></textarea>
							</div>
							<div class="form-group">
								<label>扣款金额：</label>
								<input id="deduct_amount" type="text" name="deduct_amount" class="form-control" placeholder="请输入赔偿金额"/>
							</div>
						</div>
						<div class="modal-footer form-group">
							<button sec:authorize="hasRole('ROLE_ORDER_EDIT')" id="save_btn1" type="button" class="btn btn-primary">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="assign_order" data-keyboard="false"
			 data-backdrop="static" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">派发订单</h4>
					</div>
					<form id="form3">
						<div class="modal-body " style="margin-left: 155px">
							<input type="hidden" name="pay_order_id" id="form3_pay_order_id"/>
							<input type="hidden" id="timeModels"/>
							<div class="form-group">
								<label>京东收货地址：</label>
								<textarea class="form-control input-sm" id="jd_address" style="width: 250px;height: 50px" disabled></textarea>
							</div>
							<div class="form-group">
								<label style="color: red;width: 250px" >特别提示：若顾客服务地址有变，则需在如下“服务地址”处重新输入！</label>
							</div>
							<div class="form-group">
								<label>服务地址：</label>
								<textarea class="form-control input-sm" id="address" name="address" minlength="5" maxlength="20" style="width: 250px;height: 50px" onchange="change_address()"></textarea>
							</div>
							<div class="form-group">
								<label>服务日期：</label>
								<select class="form-control server_date input-sm" name="server_date" id="server_date" style="width: 250px;" onchange="select_date()">
									<option value=''>请选择</option>
								</select>
							</div>
							<br/>
							<div class="form-group">
								<label>服务时间段：</label>
								<div id="time_scope" class="form-inline">
									<span style="font-size: 10px">&nbsp;&nbsp;&nbsp;当前无可选的服务时间段哦！</span>
								</div>
							</div>
						</div>
						<div class="modal-footer form-group">
							<button sec:authorize="hasRole('ROLE_ORDER_EDIT')" id="assign_btn" type="button" class="btn btn-primary">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>