<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aobei.train.mapper.DataStatisticsPartnerMapper">
    <resultMap id="BaseResultMap" type="custom.bean.DataStatisticsCustomData">
        <result column="date_str" jdbcType="VARCHAR" property="dateStr"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
    </resultMap>

    <select id="regStatisticsWithDay" resultMap="BaseResultMap">
    SELECT date_format(t.cdate,'%Y-%m-%d') AS date_str, COUNT(*) AS num
    FROM partner t
    WHERE
      t.cdate BETWEEN #{startDate} AND #{endDate}
    GROUP BY date_str
    ORDER BY date_str
  </select>

    <select id="regStatisticsWithWeek" resultMap="BaseResultMap">
    SELECT concat(DATE_FORMAT(t.cdate,'%Y'),'/', LPAD(WEEKOFYEAR(t.cdate),2,0),'周') AS date_str, COUNT(*) AS num
    FROM partner t
    WHERE
      t.cdate BETWEEN #{startDate} AND #{endDate}
    GROUP BY date_str
    ORDER BY date_str
  </select>

    <select id="regStatisticsWithMonth" resultMap="BaseResultMap">
    SELECT concat(DATE_FORMAT(t.cdate,'%Y/%m'),'月') AS date_str, COUNT(*) AS num
    FROM partner t
    WHERE
      t.cdate BETWEEN #{startDate} AND #{endDate}
    GROUP BY date_str
    ORDER BY date_str
  </select>

    <!--按日派单数-->
    <select id="sendOrdersPartnerStatisticsWithDay" resultMap="BaseResultMap">
        SELECT date_format(t.p2s_assign_datetime,'%Y-%m-%d') AS date_str, COUNT(*) AS num
        FROM serviceunit t
        WHERE
        t.pid=0 AND
        t.p2s_assign_datetime BETWEEN #{startDate} AND #{endDate}
        GROUP BY date_str
        ORDER BY date_str
    </select>

    <!--按日拒单数-->
    <select id="singleOrdersPartnerStatisticsWithDay" resultMap="BaseResultMap">
        SELECT date_format(t.p_reject_datetime,'%Y-%m-%d') AS date_str, COUNT(*) AS num
        FROM serviceunit t
        WHERE
        t.pid=0 AND
        t.p_reject_datetime BETWEEN #{startDate} AND #{endDate}
        GROUP BY date_str
        ORDER BY date_str
    </select>

    <!--按周 派单数-->
    <select id="sendOrdersPartnerStatisticsWithWeek" resultMap="BaseResultMap">
        SELECT concat(DATE_FORMAT(t.p2s_assign_datetime,'%Y'),'/', LPAD(WEEKOFYEAR(t.p2s_assign_datetime),2,0),'周') AS date_str, COUNT(*) AS num
        FROM serviceunit t
        WHERE
        t.pid=0 AND
        t.p2s_assign_datetime BETWEEN #{startDate} AND #{endDate}
        GROUP BY date_str
        ORDER BY date_str
    </select>

    <!--按周 拒单数-->
    <select id="singleOrdersPartnerStatisticsWithWeek" resultMap="BaseResultMap">
        SELECT concat(DATE_FORMAT(t.p_reject_datetime,'%Y'),'/', LPAD(WEEKOFYEAR(t.p_reject_datetime),2,0),'周') AS date_str, COUNT(*) AS num
        FROM serviceunit t
        WHERE
          t.pid=0 AND
          t.p_reject_datetime BETWEEN #{startDate} AND #{endDate}
        GROUP BY date_str
        ORDER BY date_str
    </select>

    <!--按月 派单数-->
    <select id="sendOrdersPartnerStatisticsWithMonth" resultMap="BaseResultMap">
        SELECT  concat(DATE_FORMAT(t.p2s_assign_datetime,'%Y/%m'),'月') AS date_str, COUNT(*) AS num
        FROM serviceunit t
        WHERE
         t.pid=0 AND
         t.p2s_assign_datetime BETWEEN #{startDate} AND #{endDate}
        GROUP BY date_str
        ORDER BY date_str
    </select>

    <!--按月 拒单数-->
    <select id="singleOrdersPartnerStatisticsWithMonth" resultMap="BaseResultMap">
    SELECT concat(DATE_FORMAT(t.p_reject_datetime,'%Y/%m'),'月') AS date_str, COUNT(*) AS num
    FROM serviceunit t
    WHERE t.pid=0 AND
    t.p_reject_datetime BETWEEN #{startDate} AND #{endDate}
    GROUP BY date_str
    ORDER BY date_str
    </select>

    <!--按日 单个合伙人派单数-->
    <select id="oneSendOrdersPartnerStatisticsWithDay" resultMap="BaseResultMap">
        SELECT CONCAT(n.date_str,' ',n.id) AS date_str,n.num FROM (select a.date_str,a.num,p.partner_id AS id from (SELECT DATE_FORMAT(t.p2s_assign_datetime,'%Y-%m-%d') AS date_str,t.partner_id,COUNT(*) AS num
        FROM serviceunit t
        where t.pid=0 and t.p2s_assign_datetime BETWEEN #{startDate} AND #{endDate}
        GROUP BY date_str,t.partner_id
        ORDER BY date_str) a,partner p where a.partner_id=p.partner_id) n
    </select>


    <!--按日 单个合伙人拒单数-->
    <select id="oneSingleOrdersPartnerStatisticsWithDay" resultMap="BaseResultMap">
        SELECT CONCAT(n.date_str,' ',n.id) AS date_str,n.num FROM (select a.date_str,a.num,p.partner_id AS id,p.name from (SELECT DATE_FORMAT(t.p_reject_datetime,'%Y-%m-%d') AS date_str,t.partner_id,COUNT(*) AS num
        FROM serviceunit t
        where t.pid=0 and t.p_reject_datetime BETWEEN #{startDate} AND #{endDate}
        GROUP BY date_str,t.partner_id
        ORDER BY date_str) a,partner p where a.partner_id=p.partner_id) n
    </select>

    <!--按周 单个合伙人派单数-->
    <select id="oneSendOrdersPartnerStatisticsWithWeek" resultMap="BaseResultMap">
        SELECT CONCAT(n.date_str,' ',n.id) AS date_str,n.num
        FROM (
        SELECT a.date_str,a.num,p.partner_id AS id,p.name
        FROM (
        SELECT CONCAT(DATE_FORMAT(t.p2s_assign_datetime,'%Y'),'/', LPAD(WEEKOFYEAR(t.p2s_assign_datetime),2,0),'周') AS date_str,t.partner_id, COUNT(*) AS num
        FROM serviceunit t
        WHERE
         t.pid=0 AND
         t.p2s_assign_datetime BETWEEN #{startDate} AND #{endDate}
        GROUP BY date_str,t.partner_id
        ORDER BY date_str
        ) a,partner p
        WHERE a.partner_id=p.partner_id
        ) n
    </select>


    <!--按周 单个合伙人拒单数-->
    <select id="oneSingleOrdersPartnerStatisticsWithWeek" resultMap="BaseResultMap">
        SELECT CONCAT(n.date_str,' ',n.id) AS date_str,n.num
        FROM (
        SELECT a.date_str,a.num,p.partner_id AS id,p.name
        FROM (
        SELECT CONCAT(DATE_FORMAT(t.p_reject_datetime,'%Y'),'/', LPAD(WEEKOFYEAR(t.p_reject_datetime),2,0),'周') AS date_str,t.partner_id, COUNT(*) AS num
        FROM serviceunit t
        WHERE
         t.pid=0 AND
         t.p_reject_datetime BETWEEN #{startDate} AND #{endDate}
        GROUP BY date_str,t.partner_id
        ORDER BY date_str
        ) a,partner p
        WHERE a.partner_id=p.partner_id
        ) n
    </select>

    <select id="oneSendOrdersPartnerStatisticsWithMonth" resultMap="BaseResultMap">
       SELECT CONCAT(n.date_str,' ',n.id) AS date_str,n.num
        FROM (
        SELECT a.date_str,a.num,p.partner_id AS id,p.name
        FROM (
        SELECT  concat(DATE_FORMAT(t.p2s_assign_datetime,'%Y/%m'),'月') AS date_str,t.partner_id, COUNT(*) AS num
        FROM serviceunit t
        WHERE
         t.pid=0 AND
         t.p2s_assign_datetime BETWEEN #{startDate} AND #{endDate}
        GROUP BY date_str,t.partner_id
        ORDER BY date_str) a,partner p
        WHERE a.partner_id=p.partner_id) n
    </select>
    <select id="oneSingleOrdersPartnerStatisticsWithMonth" resultMap="BaseResultMap">
        SELECT CONCAT(n.date_str,' ',n.id) AS date_str,n.num
        FROM (
        SELECT a.date_str,a.num,p.partner_id AS id,p.name
        FROM (
        SELECT  concat(DATE_FORMAT(t.p_reject_datetime,'%Y/%m'),'月') AS date_str,t.partner_id, COUNT(*) AS num
        FROM serviceunit t
        WHERE
         t.pid=0 AND
         t.p_reject_datetime BETWEEN #{startDate} AND #{endDate}
        GROUP BY date_str,t.partner_id
        ORDER BY date_str) a,partner p
        WHERE a.partner_id=p.partner_id) n
    </select>

</mapper>