<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aobei.train.mapper.DataStatisticsStudentMapper">
    <resultMap id="BaseResultMap" type="custom.bean.DataStatisticsCustomData">
        <result column="date_str" jdbcType="VARCHAR" property="dateStr"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
    </resultMap>

    <select id="regStatisticsWithDay" resultMap="BaseResultMap">
    SELECT date_format(t.cdate,'%Y-%m-%d') AS date_str, COUNT(*) AS num
    FROM student t
    WHERE
      t.cdate BETWEEN #{startDate} AND #{endDate}
    GROUP BY date_str
    ORDER BY date_str
  </select>

    <select id="regStatisticsWithWeek" resultMap="BaseResultMap">
    SELECT concat(DATE_FORMAT(t.cdate,'%Y'),'/', LPAD(WEEKOFYEAR(t.cdate),2,0),'周') AS date_str, COUNT(*) AS num
    FROM student t
    WHERE
      t.cdate BETWEEN #{startDate} AND #{endDate}
    GROUP BY date_str
    ORDER BY date_str
  </select>

    <select id="regStatisticsWithMonth" resultMap="BaseResultMap">
    SELECT concat(DATE_FORMAT(t.cdate,'%Y/%m'),'月') AS date_str, COUNT(*) AS num
    FROM student t
    WHERE
      t.cdate BETWEEN #{startDate} AND #{endDate}
    GROUP BY date_str
    ORDER BY date_str
  </select>

    <select id="purchaseStudentStatisticsWithDay" resultMap="BaseResultMap">
      SELECT DATE_FORMAT(t.work_3_datetime,'%Y-%m-%d') AS date_str, COUNT(*) AS num
      FROM serviceunit_person t
      WHERE
      t.work_status = 4 AND t.work_3_datetime IS NOT NULL AND t.work_3_datetime BETWEEN #{startDate} AND #{endDate}
      GROUP BY date_str
      ORDER BY date_str
  </select>
    <select id="purchaseStudentStatisticsWithWeek" resultMap="BaseResultMap">
      SELECT CONCAT(DATE_FORMAT(t.work_3_datetime,'%Y'),'/', LPAD(WEEKOFYEAR(t.work_3_datetime),2,0),'周') AS date_str, COUNT(*) AS num
      FROM serviceunit_person t
      WHERE
      t.work_status = 4 AND t.work_3_datetime IS NOT NULL AND t.work_3_datetime BETWEEN #{startDate} AND #{endDate}
      GROUP BY date_str
      ORDER BY date_str
  </select>
    <select id="purchaseStudentStatisticsWithMonth" resultMap="BaseResultMap">
      SELECT concat(DATE_FORMAT(t.work_3_datetime,'%Y/%m'),'月') AS date_str, COUNT(*) AS num
      FROM serviceunit_person t
      WHERE
      t.work_status = 4 AND t.work_3_datetime IS NOT NULL AND t.work_3_datetime BETWEEN #{startDate} AND #{endDate}
      GROUP BY date_str
      ORDER BY date_str
  </select>

  <select id="studentOnJobNumWithDay" resultMap="BaseResultMap">
    SELECT date_format(t.cdate,'%Y-%m-%d') AS date_str, COUNT(*) AS num
    FROM student t
    WHERE
      t.cdate BETWEEN #{startDate} AND #{endDate}  and state=1
    GROUP BY date_str
    ORDER BY date_str
  </select>

  <select id="studentDepartureNumWithDay" resultMap="BaseResultMap">
    SELECT date_format(t.cdate,'%Y-%m-%d') AS date_str, COUNT(*) AS num
    FROM student t
    WHERE
      t.cdate BETWEEN #{startDate} AND #{endDate}  and state=0
    GROUP BY date_str
    ORDER BY date_str
  </select>

  <!--按周 在职-->
  <select id="studentOnJobNumWithWeek" resultMap="BaseResultMap">
    SELECT concat(DATE_FORMAT(t.cdate,'%Y'),'/', LPAD(WEEKOFYEAR(t.cdate),2,0),'周') AS date_str, COUNT(*) AS num
    FROM student t
    WHERE
    t.cdate BETWEEN #{startDate} AND #{endDate}  and state=1
    GROUP BY date_str
    ORDER BY date_str
  </select>

  <!--按周  离职-->
  <select id="studentDepartureNumWithWeek" resultMap="BaseResultMap">
    SELECT concat(DATE_FORMAT(t.cdate,'%Y'),'/', LPAD(WEEKOFYEAR(t.cdate),2,0),'周') AS date_str, COUNT(*) AS num
    FROM student t
    WHERE
    t.cdate BETWEEN #{startDate} AND #{endDate}  and state=0
    GROUP BY date_str
    ORDER BY date_str
  </select>

  <!--按月  在职-->
  <select id="studentOnJobNumWithMonth" resultMap="BaseResultMap">
    SELECT concat(DATE_FORMAT(t.cdate,'%Y/%m'),'月') AS date_str, COUNT(*) AS num
    FROM student t
    WHERE
    t.cdate BETWEEN #{startDate} AND #{endDate}  and state=1
    GROUP BY date_str
    ORDER BY date_str
  </select>

  <!--按月  离职-->
  <select id="studentDepartureNumWithMonth" resultMap="BaseResultMap">
    SELECT concat(DATE_FORMAT(t.cdate,'%Y/%m'),'月') AS date_str, COUNT(*) AS num
    FROM student t
    WHERE
    t.cdate BETWEEN #{startDate} AND #{endDate}  and state=0
    GROUP BY date_str
    ORDER BY date_str
  </select>

</mapper>