<!DOCTYPE html>
<html layout:decorate="~{base_layout}">
<head>
<title>试卷管理</title>
<link th:href="@{/css/bootstrapValidator.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/bootstrapValidator.min.js}" ></script>
<script type="text/javascript" th:inline="javascript">
	$(function(){
		 $('#form1').bootstrapValidator({
			 fields: { 
	             singleCount: {
	                 validators: {
	                	 notEmpty: {
	                         message: '若不添加单选题，请输入0'
	                     },
	                     regexp: {
	                         regexp: /^([1-9]||[1-4][0-9]||50)$/,
	                         message: '请输入数字为1-50的单选题数量'
	                         
	                     }
	                 }
	             },
	             multipartCount: {
                		 validators: {
                			 notEmpty: {
    	                         message: '若不添加多选题，请输入0'
    	                     },
	                     regexp: {
	                         regexp: /^([1-9]||[1-4][0-9]||50)$/,
	                         message: '请输入数字为1-50的多选题数量'
	                         
	                     }
	                 }
	             },
	             train_course: {
	                 validators: {
		            	 notEmpty: {
	                         message: '考试科目不能为空'
	                     },
	                 }
	             },
	             name: {
	                 validators: {
	                	 notEmpty: {
	                         message: '试卷名称不能为空'
	                     },
	                 }
	             }
			 }
		 });
				
		$("#affirmAdd_btn").click(function(){
			/* var single_count = [[${single_count}]];
			var multipart_count = [[${multipart_count}]];
			alert(single_count);
			alert(multipart_count); */
			if($("#singleCount").val()=="" && $("#multipartCount").val()==""){
				alertify.alert("不能添加空试卷");
				return ;
			}else if($("#name").val()==""){
				alertify.alert("请填写试卷名称")
				return ;
			}else if($("#train_course").val()=="" || $("#train_course").val()==null){
				alertify.alert("请选择考试科目")
				return ;
			}else{
				var current = [[${current}]]
				var name = $("#name").val();
				var train_course = $("#train_course").val();
				var singleCount = $("#singleCount").val();
				var multipartCount = $("#multipartCount").val();
                var mts = [[${application.mts}]];
				$.ajax({
					url:"/questionPaperManager/questionPaper/addQuestionPaper",
					dataType:'json',
					data:{
						"name":name,
						"train_course":train_course,
						"singleCount": singleCount,
						"multipartCount":multipartCount,
						 mts:mts
					},
					
					success:function(data){
						reset();
		    			alertify.success(data.message);
		    			setTimeout(function (){
		    	    		window.location.href="/questionPaperManager/questionPaper/questionPaperList?p="+current;
						}, 2500);
					}
				});
			}
			
		});
		
		$("#add_butn").click(function(){			
			$("#add_question").modal('show');
		})
		$("#close_btn").click(function(){
			$("#name").val("");
			$("#singleCount").val("");
			$("#multipartCount").val("")
			$("#close_btn").modal('hide');
		})
	});
	//删除试卷功能
	function del_questionPaper(question_paper_id){
 		var current = [[${page.pageNo}]];
        var mts = [[${application.mts}]];

 		reset();
		alertify.confirm("确定要删除该试卷信息吗？",function(e){
			if(e){			
				$.ajax({
					url:"/questionPaperManager/questionPaper/deleteQuestionPaper",
					type:"POST",
					data:{
                        question_paper_id:question_paper_id,
						mta:mts
					},
					success:function(data){
						reset();
		    			alertify.success(data.delMessage);
		    	    	setTimeout(function (){
		    	    		window.location.href="/questionPaperManager/questionPaper/questionPaperList?p="+current
						}, 1000);
					}
				});
			} else {
		    	reset();
				alertify.log("已取消操作");
		    }
		});
	} 
	//跳转修改页面
	function edit_questionPaper(question_paper_id){
		var current = [[${page.pageNo}]];
		window.location.href="/questionPaperManager/questionPaper/gotoEditQuestionPaper?question_paper_id="+question_paper_id+"&p="+current
	}
	
	//打印功能
	function print_questionPaper(question_paper_id){
		window.location.href="/questionPaperManager/questionPaper/printOut?question_paper_id="+question_paper_id
		
	}
	/* $.ajax({
	url:"/questionPaperManager/questionPaper/printOut?question_paper_id="+question_paper_id,
	type:"post",
	data:{
		testpaperid:"testpapaer_id"
	},
	success:function(data){				
		reset();
		alertify.success(data.print);
		setTimeout(function (){
			window.location.href="/questionPaperManager/questionPaper/questionPaperList?question_paper_id="+question_paper_id+"&p="+current;
		},2000)
	}
}); */
	
</script>
</head>
<body>
	<div layout:fragment="content">
		<!--/* 页面部分一 （可以省略）           topbar 固定条  */-->
		<div class="page_content_bar">
		
			<!--/* 面包屑  */-->
			<ol class="breadcrumb clearfix">
			  <li class="active">试卷管理</li>
			  
			  <li class="libtn">
			  	<a sec:authorize="hasRole('ROLE_QEPAPER_EDIT')" id="add_butn" class="btn btn-primary pull-right"><i class="fas fa-plus"></i>&nbsp;添加</a>
			  </li>
			</ol>
			
		</div>
		
		<!--/* 页面部分二              页面主内容  */-->
		<div class="page_content_main" data-sidea="side_6">
			
			<div class="table-responsive">
				<table id="table-cont" class="table table-striped table-hover"
					style="margin-top: 15px">
					<thead>
						<tr>
							<th>试卷编号</th>
							<th>试卷名称</th>
							<th>科目名称</th>
							<th>单选题</th>
							<th>多选题</th>
							<!-- <th>判断题</th> -->
							<th sec:authorize="hasAnyRole('ROLE_QEPAPER_DEL,ROLE_QEPAPER_EXPORT')">操 作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="paper,index:${questionPaper}">
							<td th:name="${paper.question_paper_id}" hidden=""></td>
							<td th:text="${(index.index+1)+number}"></td>
							<td th:text="${paper.name}"></td>
							<td><th:block th:each="examSubject:${list_examSubject}"
									th:if="${examSubject.exam_subject_id==paper.exam_subject_id}">
									<p th:text="${examSubject.name}">该课程已删除</p>
								</th:block></td>
							<td th:text="${paper.t1_count}"></td>
							<td th:text="${paper.t2_count}"></td>
							<!-- <td th:text="${paper.t3_count}"></td> -->
							<td sec:authorize="hasAnyRole('ROLE_QEPAPER_EDIT,ROLE_QEPAPER_DEL,ROLE_QEPAPER_EXPORT')">
								<!-- <button style="outline:none" class="btn btn-link"  th:onclick="|edit_questionPaper('${paper.question_paper_id}');|" ><span class="fa fa-pencil-square-o" aria-hidden="true"></span>编辑</button> -->
								<button sec:authorize="hasRole('ROLE_QEPAPER_DEL')" 
									style="outline: none" class="btn btn-link btn-xs"
									th:onclick="|del_questionPaper('${paper.question_paper_id}')|">
									<span class="far fa-trash-alt" aria-hidden="true"></span>删除
								</button>
								<button sec:authorize="hasRole('ROLE_QEPAPER_EXPORT')" style="outline: none" class="btn btn-link btn-xs"
									th:onclick="|print_questionPaper('${paper.question_paper_id}')|">
									<span class="fas fa-sign-out-alt" aria-hidden="true"></span>导出
								</button>
							</td>
						</tr>
					</tbody>

				</table>
				<form id="form1" action="#">
					<div class="modal fade" id="add_question" data-keyboard="false"
						data-backdrop="static" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">添加试卷</h4>
								</div>
								<div class="modal-body">

									<table id="aa" class="table table-bordered">
										<div class="form-group">
											<label for="name" class="col-sm-3 control-label"><span
												style="color: red">*</span> 试卷名称</label>
											<div class="col-sm-4">
												<input id="name" name="name" placeholder="试卷名称"
													class="form-control input-sm" required />
											</div>
										</div>
										<br>
										<br>
										<div class="form-group">
											<label for="train_course" class="col-sm-3 control-label"><span
												style="color: red">*</span> 考试科目</label>
											<div class="col-sm-4">
												<select id="train_course" class="form-control input-sm"
													title="请选择支持课程" name="train_course">
													<option th:each="examSubject:${list_examSubject}"
														th:value="${examSubject.exam_subject_id}"
														th:text="${examSubject.name}"></option>
												</select>
											</div>
										</div>
										<br>
										<br>
										<div class="form-group">
											<label for="singleCount" class="col-sm-3 control-label"><span
												style="color: red">*</span> 单选题</label>
											<div class="col-sm-5">
												<input id="singleCount" name="singleCount"
													placeholder="单选题数量" class="form-control input-sm" required />
											</div>
										</div>
										<br>
										<br>
										<div class="form-group">
											<label for="multipartCount" class="col-sm-3 control-label"><span
												style="color: red">*</span> 多选题</label>
											<div class="col-sm-5">
												<input id="multipartCount" name="multipartCount"
													placeholder="多选题数量" class="form-control input-sm" required />
											</div>
										</div>

										<!-- <div class="form-group">
									<label for="sex" class="col-sm-3 control-label"><span
										style="color: red">*</span> 判断题</label>
									<div class="col-sm-4">
										<input id="" placeholder="判断题数量" class="form-control input-sm"/>
									</div>
								</div> -->

									</table>

								</div>
								<div class="modal-footer form-group">
									<button id="close_btn" type="button" class="btn btn-default"
										data-dismiss="modal">关闭</button>
									<button id="affirmAdd_btn" type="button"
										class="btn btn-primary" sec:authorize="hasRole('ROLE_QEPAPER_EDIT')" >生成试卷</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div th:include="~{tags/pagination::p1(@{/questionPaperManager/questionPaper/questionPaperList(size=${page.pageSize})},${page.total},
								${page.pageSize},${page.pageNo},${page.totalPage},right,p)}"></div>
			</div>
		</div>
	</div>


</body>
</html>